openapi: 3.0.1
info:
  description: |
    <div class="api-block">

    Management of [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) and [order label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers) for the In-Store Pickup scheme.

    </div>
  title: In-Store Pickup Orders
  version: instorepickup
  x-file-name: in-store-pickup
servers:
- url: https://marketplace-api.wildberries.ru
security:
- HeaderApiKey: []
tags:
- description: ""
  name: In-Store Pickup Assembly Orders
- description: ""
  name: In-Store Pickup Label Identifiers
  x-displayName: In-Store Pickup Label Identifiers
paths:
  /api/v3/click-collect/orders/new:
    get:
      description: |
        The method provides a list of all new [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) that the seller has at the time of the request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>In-Store Pickup assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      responses:
        "200":
          content:
            application/json:
              examples:
                NewOrderClick:
                  $ref: '#/components/examples/NewOrderClick'
              schema:
                $ref: '#/components/schemas/api.NewOrders'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Get New Assembly Orders List
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/confirm:
    post:
      description: |
        The method transfers [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) from the `new` [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) to the `confirm` — on  assembly — status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Transfer to Assembly
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/prepare:
    post:
      description: |
        The method transfers [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) from the `confirm` — on assembly — [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) to the `prepare` — ready for pickup — status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaDetailsResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Notify That the Assembly Orders Are Ready for Pickup
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: false
      x-category: marketplace
  /api/v3/click-collect/orders/client:
    post:
      description: |
        The method provides information about the buyer based on the assembly order ID.
        <br><br>
        Available only for assembly orders with the following statuses:
          - `confirm` — in assembly
          - `prepare` — ready for pickup

        Restrictions:
        - Information can only be obtained for assembly orders that are in the assembly process — status `confirm` and ready for pickup — status `prepare`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>In-Store Pickup assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderClientInfoResp'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Buyer Information
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/v3/click-collect/orders/client/identity:
    post:
      description: |
        The method indicates whether the checked order belongs to the buyer based on the provided code.
        <br><br>
        Available if at least one assembly order from the order is in `prepare` status — ready for pickup.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 30 requests | 2 s | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.CheckIdentityRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.CheckedIdentity'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              examples:
                OrderNotFound:
                  $ref: '#/components/examples/OrderNotFound'
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Not found
        "409":
          content:
            application/json:
              examples:
                InvalidPasscode:
                  $ref: '#/components/examples/InvalidPasscode'
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Incorrect verification code entered
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Check If the Order Belongs to the Buyer
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/receive:
    post:
      description: |
        The method transfers [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) from the `prepare` — ready for pickup — [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) to the `receive` — received by the buyer — status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Notify That the Orders Were Received by the Buyers
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/reject:
    post:
      description: |
        The method transfers [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) from the `prepare` — ready for pickup — [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) to the `reject` — refusal upon receipt — status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Notify that the Orders Are Declined
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/info:
    post:
      description: |
        The method provides the statuses of [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) by their ID.
        <br><br>
        `supplierStatus` — the status of the assembly order. The trigger for its change is the action of the seller himself.

        Possible values for `supplierStatus`:
        | Status              | Description                | How to set the assembly order to this status                    |
        |---------------------|----------------------------|-----------------------------------------------------------------|
        | `new`                 | **New assembly order**         ||
        | `confirm`             | **In assembly**                | [Transfer to assembly](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1confirm/post)          |
        | `prepare`             | **Ready for pickup**           | [Notify that the assembly order is ready for delivery](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1prepare/post)           |
        | `receive`             | **Received by buyer**       | [Notify that the order has been received by the buyer](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1receive/post)           |
        | `reject`              | **Buyer refusal**           | [Notify that the buyer has declined the order](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1reject/post)            |
        | `cancel`              | **Canceled by seller**         | [Cancel the order](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1cancel/post)            |
        | `cancel_shelf_life`   | **Canceled due to shelf life expiration** | Automatically transitions upon event occurrence |

        `wbStatus` — the status of the assembly order in the WB system.

        Possible values for wbStatus:
        - `waiting` - assembly order is in progress
        - `sorted` - assembly order is sorted
        - `sold` - the buyer got the order
        - `canceled` - assembly order canceled
        - `canceled_by_client` - buyer canceled the order upon receipt
        - `declined_by_client` - buyer canceled the order within the first hour
        <br>Cancellation is available to the buyer within the first hour from the time of order, if the order has not been transitioned to assembly
        - `defect` - order canceled due to defect
        - `ready_for_pickup` - order is ready for pickup

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Get Assembly Order Statuses
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/v3/click-collect/orders:
    get:
      description: |
        The method provides information on completed assembly orders after the sale or cancellation of an order.

        You can get data for a specified period, maximum of 30 calendar days per request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>In-Store Pickup assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      parameters:
      - description: |
          Pagination parameter. Sets the maximum number of returned data.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: |
          Pagination parameter. Sets the value from which the next batch of data should be retrieved. To obtain the complete list of data, it should be set to 0 in the first request. For subsequent requests, the values should be taken from the field with the same name in the response.
        explode: true
        in: query
        name: next
        required: true
        schema:
          type: integer
        style: form
      - description: Period start date in the Unix timestamp format
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          type: integer
        style: form
      - description: Period end date in the Unix timestamp format
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Orders'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Retrieve Information on Completed Assembly Orders
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/status/cancel:
    post:
      description: |
        The method transfers [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) from the `new`, `confirm`, `prepare` [statuses](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) to the `cancel` — canceled by the seller — status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | <no value> | <no value> | <no value> | <no value> |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Cancel the Assembly Orders
      tags:
      - In-Store Pickup Assembly Orders
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/details:
    post:
      description: |
        Returns [assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders) label identifiers and their validation statuses.

        You can get the list of label identifiers available for the assembly order with the [list of new assembly orders](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1v3~1click-collect~1orders~1new/get), field `requiredMeta`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaDetailsResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Get Assembly Orders Label Identifiers
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/info:
    post:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [July 15](https://dev.wildberries.ru/en/release-notes?id=536)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Get Assembly Orders Label Identifiers
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: true
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/delete:
    post:
      description: |
        The method removes [assembly orders label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post) values. <br><br>
        You can only remove one type of label identifiers in one request: `imei`, `uin`, `gtin` or `sgtin`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Delete Assembly Order Label Identifiers
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/sgtin:
    post:
      description: |
        The method sets labeling code [Chestny ZNAK](https://chestnyznak.ru/en) to the [assembly orders label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post).<br><br>
        You can set the labeling codes Chestny ZNAK only for orders in the `confirm` status and if the field `sgtin` is returned in the response of the [Get order label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post) method.<br>
        You can get the uploaded labeling codes in the [assembly orders label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post).

        For more information about labeling codes Chestny ZNAK please check: https://chestnyznak.ru/en/.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 20 requests | 3 s | 500 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Add Labeling codes Chestny ZNAK to the Assembly Orders (Chestny ZNAK)
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/uin:
    post:
      description: |
        The method sets the UIN (Unique Identification Numbers) for the [assembly orders label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post).
        The order can only have one UIN.
        You can add the UIN only for assembly orders in the `confirm` [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) and that are delivered by WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 20 requests | 3 s | 500 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Add UIN (Unique Identification Numbers) to the Assembly Orders
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/imei:
    post:
      description: |
        Sets the IMEI for the [assembly orders label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post). <br>
        The assembly order can have only one IMEI.
        You can add the IMEI only for assembly orders in the `confirm` [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) that are delivered by Wildberries.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 20 requests | 3 s | 500 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Add IMEI to the Assembly Orders
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: false
      x-category: marketplace
  /api/marketplace/v3/click-collect/orders/meta/gtin:
    post:
      description: |
        The method sets the GTIN, Belarus item unique identifier, for the assembly orders [label identifiers](/openapi/in-store-pickup#tag/inStorePickupLabelIdentifiers/paths/~1api~1marketplace~1v3~1click-collect~1orders~1meta~1details/post).
        The assembly order can only have one GTIN.
        You can add the GTIN only for assembly orders in the `confirm` [status](/openapi/in-store-pickup#tag/In-Store-Pickup-Assembly-Orders/paths/~1api~1marketplace~1v3~1click-collect~1orders~1status~1info/post) and that are delivered by WB.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding In-Store Pickup label identifiers</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 20 requests | 3 s | 500 requests |

        One request with <code>4XX</code> response codes is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.MetaSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: market-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
          description: Too many requests
      summary: Add GTIN to the Assembly Orders
      tags:
      - In-Store Pickup Label Identifiers
      x-readonly-method: false
      x-category: marketplace
components:
  examples:
    NewOrderClick:
      value:
        orders:
        - ddate: 29.10.2024
          salePrice: 14000
          requiredMeta:
          - sgtin
          article: wb1702fyjh
          rid: 1234567673554519872.0.0
          createdAt: 2024-10-29T10:19:30Z
          warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
          orderCode: 23457822-6667
          payMode: prepaid
          skus:
          - "2041546265353"
          id: 1234567890
          warehouseId: 1234567
          nmId: 123456789
          chrtId: 987654321
          price: 14000
          finalPrice: 14000
          convertedPrice: 14000
          convertedFinalPrice: 14000
          currencyCode: 643
          convertedCurrencyCode: 643
          cargoType: 1
          isZeroOrder: false
    IncorrectRequestBody:
      value:
        message: Incorrect request body
    InvalidPasscode:
      description: The verification code you entered is incorrect
      value:
        code: InvalidPasscode
    OrderNotFound:
      description: Order not found
      value:
        code: NotFound
    IncorrectParameter:
      value:
        message: Incorrect parameter is passed
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
      description: Unauthorized
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_402_response'
      description: Payment required
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: '#/components/schemas/_api_v3_click_collect_orders_new_get_401_response'
      description: Too many requests
    AccessDenied:
      content:
        application/json:
          example:
            message: Access denied
          schema:
            $ref: '#/components/schemas/Error'
      description: Access denied
    IncorrectRequest:
      content:
        application/json:
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: IncorrectRequest
          schema:
            $ref: '#/components/schemas/api.BatchError'
      description: Bad request
    AccessDeniedBatch:
      content:
        application/json:
          example:
            detail: {}
            origin: market-public-api
            requestId: f1787bd2d1fdс35d6f537316514у4a05
            title: AccessDenied
          schema:
            $ref: '#/components/schemas/api.BatchError'
      description: Access denied
  schemas:
    api.CheckedIdentity:
      example:
        ok: true
      properties:
        ok:
          description: |
            Indicates whether the order belongs to the buyer:
             - `true` — belongs
             - `false` — the value is not applied. If the order does not belong to the buyer, you will receive a response with `409` status code
          type: boolean
      type: object
    Error:
      example:
        code: code
        data: "{}"
        message: message
      nullable: false
      properties:
        code:
          description: Error code
          nullable: false
          type: string
        message:
          description: Error description
          nullable: false
          type: string
        data:
          description: Additional data enriching the error
          nullable: true
          type: object
      type: object
    api.CheckIdentityRequest:
      example:
        orderCode: 170046918-0011
        passcode: "4567"
      properties:
        orderCode:
          description: Unique buyer order ID
          type: string
        passcode:
          description: Confirmation code
          type: string
      type: object
    api.Error:
      example:
        code: code
        data: "{}"
        message: message
      properties:
        code:
          type: string
        data:
          type: object
        message:
          type: string
      type: object
    api.NewOrder:
      example:
        cargoType: 2
        warehouseAddress: warehouseAddress
        ddate: ddate
        skus:
        - skus
        - skus
        salePrice: 504600
        payMode: prepaid
        nmId: 1
        finalPrice: 1014
        requiredMeta:
        - requiredMeta
        - requiredMeta
        rid: rid
        article: article
        convertedFinalPrice: 1014
        createdAt: 2000-01-23T04:56:07.000+00:00
        convertedPrice: 5000
        isZeroOrder: true
        warehouseId: 6
        price: 5
        orderCode: orderCode
        convertedCurrencyCode: 643
        id: 0
        chrtId: 5
        currencyCode: 643
      properties:
        ddate:
          description: Planned delivery date
          type: string
        salePrice:
          description: |
            Seller price in the currency of sale, including seller discount, except the WB Club discount, multiplied by 100
          example: 504600
          nullable: true
          type: integer
        requiredMeta:
          description: |
            List of label identifiers available for the assembly orders
          items:
            type: string
          nullable: true
          type: array
        article:
          description: Seller item number
          type: string
        rid:
          description: |
            Unique order ID. <br>
            Note: `rid` corresponds to `srid` in the responses of the methods:
              - [Buyers Return Applications](./user-communication#tag/Buyers-Returns/paths/~1api~1v1~1claims/get)
              - [Orders](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1orders/get)
              - [Sales](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1sales/get)
              - [Returns and Item Movement Report](./reports#tag/Returns-and-Product-Movement-Report)
              - [Details for the Sales Reports by Report ID](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1SalesReportsDetailedReportId)
              - [Details for the Sales Reports by Period](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1SalesReportsDetailed)
              - [Details for the Acquiring Expenses Reports by Report ID](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1AcquiringDetailedReportId)
              - [Details for the Acquiring Expenses Reports by Period](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1AcquiringDetailed)
          type: string
        createdAt:
          description: Date and time the assembly order was created
          format: date-time
          type: string
        warehouseAddress:
          description: |
            Store address (seller warehouse) where the assembly order was received
          type: string
        orderCode:
          description: |
            Unique buyer order ID
          type: string
        payMode:
          description: |
            Pay mode:
              - `prepaid` — prepaid
              - `postpaid` — postpaid
              - `unknown` — unknown
          example: prepaid
          type: string
        skus:
          description: Items SKU array
          items:
            type: string
          type: array
        id:
          description: Assembly order ID
          type: integer
        warehouseId:
          description: |
            Seller warehouse ID where the assembly order was received
          type: integer
        nmId:
          description: WB item number
          type: integer
        chrtId:
          description: Item size ID in WB system
          type: integer
        price:
          description: |
            The price in the currency of sale including all discounts, except WB Wallet discount, multiplied by 100. You can find a currency code in the `currencyCode`. Provided for informational purposes only
          type: integer
        finalPrice:
          description: "The sum charged to the buyer in the currency of sale including\
            \ all discounts, multiplied by 100. You can find a currency code in the\
            \ `currencyCode` field. Provided for informational purposes only."
          example: 1014
          type: integer
        convertedPrice:
          description: "The price in the currency of the seller country including\
            \ all discounts, except WB Wallet discount, multiplied by 100. You can\
            \ find a currency code in the `currencyCode` field. Provided for informational\
            \ purposes only"
          example: 5000
          type: integer
        convertedFinalPrice:
          description: "The sum charged to the buyer in the currency of the seller\
            \ country including all discounts, multiplied by 100. Provided for informational\
            \ purposes only"
          example: 1014
          type: integer
        currencyCode:
          description: Sale currency code
          example: 643
          format: ISO 4217
          type: integer
        convertedCurrencyCode:
          description: Seller country currency code
          example: 643
          format: ISO 4217
          type: integer
        cargoType:
          description: |
            Type of cargo:
              - `1` — small-sized items
              - `2` — over dimensional cargo (ODC)
              - `3` — dimensional cargo+ (CD+)
          enum:
          - 1
          - 2
          - 3
          nullable: false
          type: integer
        isZeroOrder:
          description: |
            Indicator of an order for a item with zero inventory:
              - `false` — the order is made for a item with a non-zero inventory
              - `true` — the order is made for a item with zero inventory. Such an order can be canceled without a cancellation fee
          type: boolean
      type: object
    api.NewOrders:
      example:
        orders:
        - cargoType: 2
          warehouseAddress: warehouseAddress
          ddate: ddate
          skus:
          - skus
          - skus
          salePrice: 504600
          payMode: prepaid
          nmId: 1
          finalPrice: 1014
          requiredMeta:
          - requiredMeta
          - requiredMeta
          rid: rid
          article: article
          convertedFinalPrice: 1014
          createdAt: 2000-01-23T04:56:07.000+00:00
          convertedPrice: 5000
          isZeroOrder: true
          warehouseId: 6
          price: 5
          orderCode: orderCode
          convertedCurrencyCode: 643
          id: 0
          chrtId: 5
          currencyCode: 643
        - cargoType: 2
          warehouseAddress: warehouseAddress
          ddate: ddate
          skus:
          - skus
          - skus
          salePrice: 504600
          payMode: prepaid
          nmId: 1
          finalPrice: 1014
          requiredMeta:
          - requiredMeta
          - requiredMeta
          rid: rid
          article: article
          convertedFinalPrice: 1014
          createdAt: 2000-01-23T04:56:07.000+00:00
          convertedPrice: 5000
          isZeroOrder: true
          warehouseId: 6
          price: 5
          orderCode: orderCode
          convertedCurrencyCode: 643
          id: 0
          chrtId: 5
          currencyCode: 643
      properties:
        orders:
          description: Assembly orders list
          items:
            $ref: '#/components/schemas/api.NewOrder'
          type: array
      type: object
    api.Order:
      example:
        cargoType: 1
        warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
        skus:
        - "2043227963145"
        payMode: prepaid
        finalPrice: 5000
        nmId: 1234567898765
        rid: 5044304527347733263.0.0
        article: wb6scpbwvp
        convertedFinalPrice: 5000
        createdAt: 2025-03-21T09:53:31Z
        convertedPrice: 5000
        isZeroOrder: false
        warehouseId: 1162157
        price: 5000
        convertedCurrencyCode: 643
        orderCode: 21117866-0006
        id: 123456789
        chrtId: 12345676
        currencyCode: 643
      properties:
        article:
          description: Seller item number
          example: wb6scpbwvp
          type: string
        cargoType:
          description: |
            Type of cargo:
              - `1` — small-sized items
              - `2` — over dimensional cargo (ODC)
              - `3` — dimensional cargo+ (CD+)
          enum:
          - 1
          - 2
          - 3
          example: 1
          nullable: false
          type: integer
        chrtId:
          description: Item size ID in WB systems
          example: 12345676
          type: integer
        createdAt:
          description: Date and time the assembly order was created
          example: 2025-03-21T09:53:31Z
          format: date-time
          type: string
        price:
          description: |
            The price in the currency of sale including all discounts, except WB Wallet discount, multiplied by 100. You can find a currency code in the `currencyCode`. Provided for informational purposes only
          example: 5000
          type: integer
        finalPrice:
          description: "The sum charged to the buyer in the currency of sale including\
            \ all discounts, multiplied by 100. You can find a currency code in the\
            \ `currencyCode` field. Provided for informational purposes only."
          example: 5000
          type: integer
        convertedPrice:
          description: "The price in the currency of the seller country including\
            \ all discounts, except WB Wallet discount, multiplied by 100. You can\
            \ find a currency code in the `currencyCode` field. Provided for informational\
            \ purposes only"
          example: 5000
          type: integer
        convertedFinalPrice:
          description: "The sum charged to the buyer in the currency of the seller\
            \ country including all discounts, multiplied by 100. Provided for informational\
            \ purposes only"
          example: 5000
          type: integer
        currencyCode:
          description: Sale currency code
          example: 643
          format: ISO 4217
          type: integer
        convertedCurrencyCode:
          description: Seller country currency code
          example: 643
          format: ISO 4217
          type: integer
        id:
          description: Assembly order ID
          example: 123456789
          type: integer
        isZeroOrder:
          description: |
            Indicator of an order for a item with zero inventory:
              - `false` — the order is made for a item with a non-zero inventory
              - `true` — the order is made for a item with zero inventory. Such an order can be canceled without a cancellation fee
          example: false
          type: boolean
        nmId:
          description: WB item number
          example: 1234567898765
          type: integer
        orderCode:
          description: |
            Unique buyer order ID
          example: 21117866-0006
          type: string
        payMode:
          description: |
            Pay mode:
              - `prepaid` — prepaid
              - `postpaid` — postpaid
              - `unknown` — unknown
          example: prepaid
          type: string
        rid:
          description: |
            Unique order ID. <br>
            Note: `rid` corresponds to `srid` in the responses of the methods:
              - [Buyers Return Applications](./user-communication#tag/Buyers-Returns/paths/~1api~1v1~1claims/get)
              - [Orders](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1orders/get)
              - [Sales](./reports#tag/Main-Reports/paths/~1api~1v1~1supplier~1sales/get)
              - [Returns and Item Movement Report](./reports#tag/Returns-and-Product-Movement-Report)
              - [Details for the Sales Reports by Report ID](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1SalesReportsDetailedReportId)
              - [Details for the Sales Reports by Period](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1SalesReportsDetailed)
              - [Details for the Acquiring Expenses Reports by Report ID](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1AcquiringDetailedReportId)
              - [Details for the Acquiring Expenses Reports by Period](./financial-reports-and-accounting#tag/Financial-Reports/operation/postV1AcquiringDetailed)
          example: 5044304527347733263.0.0
          type: string
        skus:
          description: Item SKU array
          example:
          - "2043227963145"
          items:
            type: string
          type: array
        warehouseAddress:
          description: Store address (seller warehouse) where the assembly order was
            received
          example: "Москва, район Якиманка, Софийская набережная, 4 с1"
          type: string
        warehouseId:
          description: Seller warehouse ID where the assembly order was received
          example: 1162157
          type: integer
      type: object
    api.OrderClientInfo:
      example:
        firstName: Ольга
        phone: "+7111111111"
        orderID: 4564152
        phoneCode: 3535
      properties:
        phone:
          description: |
            Contact phone number for the buyer. To reach the buyer, dial this number and enter the extension code. This number is not the buyer's direct phone number
          example: "+7111111111"
          type: string
        firstName:
          description: Buyer's name
          example: Ольга
          type: string
        orderID:
          description: Assembly order ID
          example: 4564152
          type: integer
        phoneCode:
          description: Phone extension code
          example: 3535
          type: integer
      type: object
    api.OrderClientInfoResp:
      example:
        orders:
        - firstName: Ольга
          phone: "+7111111111"
          orderID: 4564152
          phoneCode: 3535
        - firstName: Ольга
          phone: "+7111111111"
          orderID: 4564152
          phoneCode: 3535
      properties:
        orders:
          items:
            $ref: '#/components/schemas/api.OrderClientInfo'
          type: array
      type: object
    api.Orders:
      example:
        next: 12345566
        orders:
        - cargoType: 1
          warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
          skus:
          - "2043227963145"
          payMode: prepaid
          finalPrice: 5000
          nmId: 1234567898765
          rid: 5044304527347733263.0.0
          article: wb6scpbwvp
          convertedFinalPrice: 5000
          createdAt: 2025-03-21T09:53:31Z
          convertedPrice: 5000
          isZeroOrder: false
          warehouseId: 1162157
          price: 5000
          convertedCurrencyCode: 643
          orderCode: 21117866-0006
          id: 123456789
          chrtId: 12345676
          currencyCode: 643
        - cargoType: 1
          warehouseAddress: "Москва, район Якиманка, Софийская набережная, 4 с1"
          skus:
          - "2043227963145"
          payMode: prepaid
          finalPrice: 5000
          nmId: 1234567898765
          rid: 5044304527347733263.0.0
          article: wb6scpbwvp
          convertedFinalPrice: 5000
          createdAt: 2025-03-21T09:53:31Z
          convertedPrice: 5000
          isZeroOrder: false
          warehouseId: 1162157
          price: 5000
          convertedCurrencyCode: 643
          orderCode: 21117866-0006
          id: 123456789
          chrtId: 12345676
          currencyCode: 643
      properties:
        next:
          description: |
            Pagination parameter. Contains the value which should be specified in the request to retrieve the next batch of data
          example: 12345566
          type: integer
        orders:
          description: Assembly orders list
          items:
            $ref: '#/components/schemas/api.Order'
          type: array
      type: object
    api.OrdersRequest:
      example:
        orders:
        - 1234567
      properties:
        orders:
          description: Assembly order IDs list
          items:
            type: integer
          type: array
      type: object
    api.OrdersSGTINsSetRequest:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/api.SGTINs'
          maxItems: 1000
          type: array
      required:
      - orders
      type: object
    api.SGTINs:
      properties:
        orderId:
          description: Assembly order ID
          example: 123456
          type: integer
        sgtins:
          description: List of Data Matrix codes. From 16 to 135 characters for one
            label
          example:
          - "123456789012345678"
          - "1234567890123456"
          items:
            type: string
          maxItems: 24
          minItems: 1
          type: array
      required:
      - orderId
      - sgtins
      type: object
    api.OrdersUINSetRequest:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/api.UIN'
          maxItems: 1000
          type: array
      required:
      - orders
      type: object
    api.UIN:
      properties:
        orderId:
          description: Assembly order ID
          example: 123456
          type: integer
        uin:
          description: UIN
          example: "1234568909091232"
          maxLength: 16
          minLength: 16
          type: string
      required:
      - orderId
      - uin
      type: object
    api.OrdersIMEISetRequest:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/api.IMEI'
          maxItems: 1000
          type: array
      required:
      - orders
      type: object
    api.IMEI:
      properties:
        orderId:
          description: Assembly order ID
          example: 123456
          type: integer
        imei:
          description: IMEI
          example: "654321741987258"
          maxLength: 15
          minLength: 15
          type: string
      required:
      - imei
      - orderId
      type: object
    api.OrdersGTINSetRequest:
      properties:
        orders:
          items:
            $ref: '#/components/schemas/api.GTIN'
          maxItems: 1000
          type: array
      required:
      - orders
      type: object
    api.GTIN:
      properties:
        gtin:
          description: GTIN
          example: "1234567890123"
          maxLength: 13
          minLength: 13
          type: string
        orderId:
          description: Assembly order ID
          example: 123456
          type: integer
      required:
      - gtin
      - orderId
      type: object
    api.BatchError:
      example:
        requestId: f1787bd2d1fdс35d6f537316514у4a05
        origin: market-public-api
        detail: {}
        title: IncorrectRequest
      properties:
        detail:
          description: Error details
          example: {}
          nullable: true
          type: object
        origin:
          description: WB internal service ID
          example: market-public-api
          type: string
        requestId:
          description: Unique request ID
          example: f1787bd2d1fdс35d6f537316514у4a05
          type: string
        title:
          description: Error title
          example: IncorrectRequest
          type: string
      required:
      - origin
      - requestId
      - title
      type: object
    api.BatchErrorResponse:
      properties:
        code:
          description: Error code
          example: 404
          type: integer
        detail:
          description: |
            - `NotFound` — the assembly order is not found
            - `StatusMismatch` — operation is not possible for this assembly order status
          example: NotFound
          type: string
      required:
      - code
      - detail
      type: object
    api.MetaErrorResponse:
      properties:
        code:
          description: Error code
          example: 404
          type: integer
        detail:
          description: |
            - `NotFound` — the assembly order is not found
            - `IncorrectRequestBody` — incorrect request
            - `IncorrectRequest` — incorrect parameter
          example: NotFound
          type: string
      required:
      - code
      - detail
      type: object
    api.OrdersErrorResponse:
      properties:
        code:
          description: Error code
          example: 404
          type: integer
        detail:
          description: |
            - `NotFound` — the assembly order is not found
          example: NotFound
          type: string
      required:
      - code
      - detail
      type: object
    api.OrdersRequestV2:
      properties:
        ordersIds:
          description: List of assembly order IDs
          example:
          - 123456
          - 234567
          - 345678
          items:
            type: integer
          maxItems: 1000
          type: array
      type: object
    api.StatusSetResponses:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
        - orderId: 123456
          isError: true
          errors:
          - code: 404
            detail: NotFound
        - orderId: 234567
          isError: false
      properties:
        requestId:
          description: Unique request ID
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api.StatusSetResponse'
          type: array
      required:
      - requestId
      - results
      type: object
    api.StatusSetResponse:
      properties:
        orderId:
          description: Assembly order ID
          example: 123456
          type: integer
        isError:
          description: Are there any errors
          example: true
          type: boolean
        errors:
          description: Error details
          items:
            $ref: '#/components/schemas/api.BatchErrorResponse'
          type: array
      required:
      - isError
      - orderId
      type: object
    api.MetaDetailsResponse:
      example:
        requestId: 03615778-eb9e-4f55-b4O4-fd3ac0fad2сc
        results:
        - orderId: 234567
          isError: false
        - orderId: 123456
          isError: true
          errors:
          - code: 404
            detail: NotFound
        - orderId: 345678
          isError: true
          errors:
          - code: 409
            detail: MetaValidationFail
            metaDetails:
            - key: imei
              value: "359876543210925"
              decision: imeiAlreadySold
      properties:
        requestId:
          description: Unique request ID
          example: f1787bd2d1fdс35d6f537316514у4a05
        results:
          items:
            $ref: '#/components/schemas/api_MetaDetailsResponse_results_inner'
          type: array
      required:
      - requestId
      - results
      type: object
    MetaDetailsErrors:
[...]
