openapi: 3.0.1
info:
  description: "Management of orders, metadata"
  title: DBS Orders
  version: order
  x-file-name: orders-dbs
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: DBS Assembly Orders
- description: ""
  name: DBS Metadata
paths:
  /api/v3/dbs/orders/new:
    get:
      description: |
        Returns a list of all new orders for the seller at the moment

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_200_response'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get New Orders List
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders:
    get:
      description: |
        Returns information on completed orders (either canceled or sold). <br> You can get data for a specified period, maximum of 30 calendar days per request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      parameters:
      - description: Pagination parameter. Sets the limit for the amount of data returned.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Pagination parameter. Sets the value from which to retrieve\
          \ the next batch. It should start at 0 to get the full list of data. For\
          \ the subsequent requests, you must take the value from the `next` field\
          \ in the response."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Period start date in Unix timestamp format
        explode: true
        in: query
        name: dateFrom
        required: true
        schema:
          type: integer
        style: form
      - description: Period end date in Unix timestamp format
        explode: true
        in: query
        name: dateTo
        required: true
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Information on Completed Orders
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/groups/info:
    post:
      description: |
        The method provides information on paid delivery for assembly orders that have been received at a single warehouse (warehouseId) as part of a single buyer transaction (orderUid).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrderGroupsRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderGroup'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      summary: Get Information on Paid Delivery
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/client:
    post:
      description: |
        The method allows getting information about the buyer by order ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DbsOnlyClientInfoResp'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Buyer Information
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/b2b/info:
    post:
      description: |
        The method returns B2B buyers data by assembly orders ID:
          - Taxpayer Identification Number (TIN or INN in Russian)
          - Code of Reason for Registration (CRR or KPP in Russian)
          - Company name

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.B2bClientInfoResponses'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: B2B Buyer Information
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/delivery-date:
    post:
      description: |
        Method provides information about the delivery date and time selected by the buyer for orders.
        <br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeliveryDatesRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeliveryDatesInfoResp'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest1'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delivery Date and Time
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/info:
    post:
      description: |
        Returns the statuses of [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) based on the list of assembly order IDs.

        `supplierStatus` is a status of an order. The trigger for its change is the action of the seller himself.<br>
        Possible values for this field are:
        | Status   | Description               | How to move an order to this status   |
        | -------  | ---------                 | --------------------------------------|
        | `new`      | **New order** | |
        | `confirm`  | **Order on assembly**      |  [Transfer to assembly](/openapi/orders-dbs?locale=ru#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1confirm/post)
        | `deliver`  | **Order on delivery**<br>    | [Transfer to delivery](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1deliver/post)
        | `receive`  | **Received by the buyer**<br>       | [Notify that the order has been accepted by the buyer](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1receive/post) <br>
        | `reject`   | **Declined upon receipt**<br>           |  [Notify that the buyer has declined the order](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1reject/post)
        | `cancel`   | **Canceled by the supplier**   |  [Cancel the order](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1cancel/post)
        | `cancel_missed_call` | **Cancellation due to unreachable buyer**<br> | The status changes automatically |

        `wbStatus` is a status of an order on the Wildberries side.<br>
        Possible values for this field are:
        - `waiting` — assembly order in work
        - `sold` — the buyer got the order
        - `canceled` — assembly order canceled
        - `canceled_by_client` — the buyer canceled the order
        - `declined_by_client` — the buyer canceled the order in the first hour <br> Cancellation is available to the buyer in the first hour from the moment of order, if the order is not transferred to confirm status.
        - `defect` — order canceled due to a defect
        - `ready_for_pickup` — the order arrived the pickup point
        - `canceled_by_missed_call`— cancellation due to unreachable buyer. For delivery by supplier

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrderStatusesV2'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Not found
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Order Statuses
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/cancel:
    post:
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the [statuses](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) `new`, `confirm` и `deliver` to the status `cancel` — canceled by the supplier.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Cancel Assembly Orders
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/confirm:
    post:
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `new` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `confirm` status — order on assembly.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Transfer to Assembly
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/stickers:
    post:
      description: |
        <div class="description_token">Method is available by <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token types</a>:<strong> Personal</strong>,<strong> Service</strong> </div>

        The method returns stickers for the assembly orders with delivery to pickup points in the [statuses](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post):
          - `confirm` — on assembly
          - `deliver` — in delivery

        You can get stickers only with 580x400 px size in PDF format.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      parameters:
      - description: Sticker format
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - pdf
          type: string
        style: form
      - description: Sticker width
        explode: true
        in: query
        name: width
        required: true
        schema:
          enum:
          - 58
          type: integer
        style: form
      - description: Sticker height
        explode: true
        in: query
        name: height
        required: true
        schema:
          enum:
          - 40
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_marketplace_v3_dbs_orders_stickers_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_marketplace_v3_dbs_orders_stickers_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Stickers for Assembly Orders with Delivery to Pickup Point
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
      x-token-types:
      - personal
      - service
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/deliver:
    post:
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `confirm` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `deliver` status — order on delivery.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Transfer to Delivery
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/receive:
    post:
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `deliver` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `receive` status — received by the buyer.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_marketplace_v3_dbs_orders_status_receive_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Notify that the Orders Are Received
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/status/reject:
    post:
      description: |
        The method transfers [assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders) with the `deliver` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) to the `reject` status — declined upon receipt.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersCodeRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Notify that the Orders Are Declined
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/status:
    post:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_dbs_orders_status_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_status_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get orders statuses
      tags:
      - DBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/cancel:
    patch:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 100 requests | 600 ms | 20 requests |
        | Service | 1 min | 100 requests | 600 ms | 20 requests |
        | Base | 1 h | 50 requests | 72 s | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Canceled
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
              schema:
                $ref: '#/components/schemas/Error'
          description: Status update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Cancel the Order
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/confirm:
    patch:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 100 requests | 600 ms | 20 requests |
        | Service | 1 min | 100 requests | 600 ms | 20 requests |
        | Base | 1 h | 50 requests | 72 s | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Confirmed
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
              schema:
                $ref: '#/components/schemas/Error'
          description: Status update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Transfer to Assembly
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/deliver:
    patch:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 100 requests | 600 ms | 20 requests |
        | Service | 1 min | 100 requests | 600 ms | 20 requests |
        | Base | 1 h | 50 requests | 72 s | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Confirmed
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
              schema:
                $ref: '#/components/schemas/Error'
          description: Status update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Transfer to Delivery
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/receive:
    patch:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 100 requests | 600 ms | 20 requests |
        | Service | 1 min | 100 requests | 600 ms | 20 requests |
        | Base | 1 h | 50 requests | 72 s | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
        required: true
      responses:
        "204":
          description: Confirmed
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
                SGTINIsNotFilled:
                  $ref: '#/components/examples/SGTINIsNotFilled'
              schema:
                $ref: '#/components/schemas/Error'
          description: Status update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Notify That the Order Has Been Accepted by the Buyer
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/dbs/orders/{orderId}/reject:
    patch:
      deprecated: true
      description: |
        This method is deprecated. It will be removed on [April 13](https://dev.wildberries.ru/en/release-notes?id=378)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>DBS assembly orders</strong> methods:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 100 requests | 600 ms | 20 requests |
        | Service | 1 min | 100 requests | 600 ms | 20 requests |
        | Base | 1 h | 50 requests | 72 s | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Code'
        required: true
      responses:
        "204":
          description: Confirmed
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: ""
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Не найдено
              schema:
                $ref: '#/components/schemas/Error'
          description: The resource is not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                InvalidWBCode:
                  $ref: '#/components/examples/InvalidWBCode'
              schema:
                $ref: '#/components/schemas/Error'
          description: Status update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Notify That the Buyer Has Declined the Order
      tags:
      - DBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/info:
    post:
      description: |
        Returns assembly orders metadata.<br>
        You can get the list of metadata available for the assembly order via the [list of new assembly orders](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1v3~1dbs~1orders~1new/get) method, field `requiredMeta`.<br>
        Possible metadata:
        - `imei` — [IMEI](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
        - `uin` — [UIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
        - `gtin` — [GTIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
        - `sgtin` — [Data Matrix code](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
        - `customsDeclaration` — [customs declaration number](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        If the response has an empty `meta` structure, the assembly order has no metadata and you can't add it.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersRequestV2'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.OrdersMetaResponse'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Orders Metadata
      tags:
      - DBS Metadata
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/delete:
    post:
      description: |
        Removes all [assembly order metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) values.
        <br><br>
        You can only delete one type of metadata in one request.
        Specify the metadata type in the request:
        - `imei` — [IMEI](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1imei/post)
        - `uin` — [UIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1uin/post)
        - `gtin` — [GTIN](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1gtin/post)
        - `sgtin` — [Data Matrix code](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1sgtin/post)
        - `customsDeclaration` — [customs declaration number](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1meta~1customs-declaration/post)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 150 requests | 400 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersMetaDeleteRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Metadata deletion error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delete Assembly Orders Metadata
      tags:
      - DBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/sgtin:
    post:
      description: |
        Sets the Data Matrix code (Chestny ZNAK marking) for the assembly orders. <br>
        You can set the Data Matrix code only for orders in the `confirm` status and if the field `sgtin` is returned in the response of the [Get order metadata](orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post) method.
        <br>
        For more information about Data Matrix Codes please check: https://chestnyznak.ru/en/.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Type | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- | --- |
        | Personal | 1 min | 500 requests | 120 ms | 20 requests |
        | Service | 1 min | 500 requests | 120 ms | 20 requests |
        | Base | 1 h | 10 requests | 6 min | 1 request |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersSGTINsSetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Metadata update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add Data Matrix Codes to Assembly Orders (Chestny ZNAK)
      tags:
      - DBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/uin:
    post:
      description: |
        Sets the UIN to the [assembly orders metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The order can only have one UIN.
        You can add the UIN only for assembly orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersUINSetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Metadata update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add UIN (Unique Identification Number) to Assembly Orders
      tags:
      - DBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/imei:
    post:
      description: |
        Sets the IMEI for the [assembly orders metadata](/openapi/orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The assembly order can have only one IMEI.
        You can add the IMEI only for orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersIMEISetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Metadata update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add IMEI to Assembly Orders
      tags:
      - DBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/gtin:
    post:
      description: |
        Sets the GTIN, Belarus product unique identifier, for the assembly order metadata(./orders-dbs#tag/DBS-Metadata/paths/~1api~1marketplace~1v3~1dbs~1orders~1meta~1info/post). <br>
        The assembly order can only have one GTIN.
        You can set the GTIN only for orders in the `confirmed` [status](/openapi/orders-dbs#tag/DBS-Assembly-Orders/paths/~1api~1marketplace~1v3~1dbs~1orders~1status~1info/post) and that are delivered by Wildberries.<br>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding DBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 500 requests | 120 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/api.OrdersGTINSetRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.StatusSetResponses'
          description: Success
        "400":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: IncorrectRequest
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                detail: {}
                origin: dbs-public-api
                requestId: f1787bd2d1fdс35d6f537316514у4a05
                title: AccessDenied
              schema:
                $ref: '#/components/schemas/api.BatchError'
          description: Access denied
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/api.Error'
          description: Metadata update error
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_dbs_orders_new_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add GTIN to Assembly Orders
      tags:
      - DBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/dbs/orders/meta/customs-declaration:
    post:
      description: |
        Sets the cargo customs declaration number in the metadata of the assembly orders.

        One assembly order can have only one cargo customs declaration number.

        The customs declaration number can only be added to assembly orders that are in `deliver` status.

        <div class="description_limit">
[...]
