/*
General

In this section:   - [WB API general information](/openapi/api-information#tag/Introduction)   - how to [get started with the WB API](/openapi/api-information#tag/Introduction/How-to-get-started-with-the-API)   - how to [log in](/openapi/api-information#tag/Authorization) and [create tokens](/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token)   - main [HTTP status codes](/openapi/api-information#tag/Introduction/HTTP-status-codes)   - [rate limits](/openapi/api-information#tag/Introduction/Rate-Limits)   - how to contact [support](/openapi/api-information#tag/Introduction/Support)  Use the methods in this section to:   - check the [WB API connection](/openapi/api-information#tag/WB-API-Connection-Check)   - get [seller portal news](/openapi/api-information#tag/News-API/paths/~1api~1communications~1v2~1news/get)   - get [seller information](/openapi/api-information#tag/Seller-Information)   - [manage seller users](/openapi/api-information#tag/Seller-User-Management) 

API version: general
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package wbgeneral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SellerUserManagementAPIService SellerUserManagementAPI service
type SellerUserManagementAPIService service

type ApiApiV1InvitePostRequest struct {
	ctx context.Context
	ApiService *SellerUserManagementAPIService
	createInviteRequest *CreateInviteRequest
}

func (r ApiApiV1InvitePostRequest) CreateInviteRequest(createInviteRequest CreateInviteRequest) ApiApiV1InvitePostRequest {
	r.createInviteRequest = &createInviteRequest
	return r
}

func (r ApiApiV1InvitePostRequest) Execute() (*CreateInviteResponse, *http.Response, error) {
	return r.ApiService.ApiV1InvitePostExecute(r)
}

/*
ApiV1InvitePost Create an Invitation for a New User

<div class="description_token">
Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method creates an invitation for a new user with access settings to the seller account sections.<br>
How access rights are assigned:
- If `access` is empty (`[]`) or not provided — by default, all access is granted, except for access to the showcase (`showcase`) and **Jam** (`changeJam`)
- If `access` specifies some of the account sections, then in addition to the access rights specified in the request, all default access rights are also granted
- If `access` lists all possible sections, access rights will be granted according to the request, without the default access rights
- If the same section (`code`) is specified twice in `access`:
  - with different `disabled` values (`true` and `false`), access will not be granted
  - with identical values of `"disabled": true`, access will not be granted
  - with identical values of `"disabled": false`, access will be granted

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 s | 1 request | 1 s | 5 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1InvitePostRequest
*/
func (a *SellerUserManagementAPIService) ApiV1InvitePost(ctx context.Context) ApiApiV1InvitePostRequest {
	return ApiApiV1InvitePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CreateInviteResponse
func (a *SellerUserManagementAPIService) ApiV1InvitePostExecute(r ApiApiV1InvitePostRequest) (*CreateInviteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateInviteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerUserManagementAPIService.ApiV1InvitePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/invite"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createInviteRequest == nil {
		return localVarReturnValue, nil, reportError("createInviteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createInviteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApiV1UserDeleteRequest struct {
	ctx context.Context
	ApiService *SellerUserManagementAPIService
	deletedUserID *int64
}

// ID of the user whose access will be revoked
func (r ApiApiV1UserDeleteRequest) DeletedUserID(deletedUserID int64) ApiApiV1UserDeleteRequest {
	r.deletedUserID = &deletedUserID
	return r
}

func (r ApiApiV1UserDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UserDeleteExecute(r)
}

/*
ApiV1UserDelete Delete User

<div class="description_token">
Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method removes a user from [the seller user list](/openapi/api-information#tag/Seller-User-Management/paths/~1api~1v1~1users/get). This user will no longer have access to the seller account.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 s | 1 request | 1 s | 10 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UserDeleteRequest
*/
func (a *SellerUserManagementAPIService) ApiV1UserDelete(ctx context.Context) ApiApiV1UserDeleteRequest {
	return ApiApiV1UserDeleteRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SellerUserManagementAPIService) ApiV1UserDeleteExecute(r ApiApiV1UserDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerUserManagementAPIService.ApiV1UserDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/user"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.deletedUserID == nil {
		return nil, reportError("deletedUserID is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "deletedUserID", r.deletedUserID, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1UsersAccessPutRequest struct {
	ctx context.Context
	ApiService *SellerUserManagementAPIService
	updateUserAccessRequest *UpdateUserAccessRequest
}

func (r ApiApiV1UsersAccessPutRequest) UpdateUserAccessRequest(updateUserAccessRequest UpdateUserAccessRequest) ApiApiV1UsersAccessPutRequest {
	r.updateUserAccessRequest = &updateUserAccessRequest
	return r
}

func (r ApiApiV1UsersAccessPutRequest) Execute() (*http.Response, error) {
	return r.ApiService.ApiV1UsersAccessPutExecute(r)
}

/*
ApiV1UsersAccessPut Update User's Access Permissions

<div class="description_token">
Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method changes the access rights for one or more users.<br>
<br>
Only the data passed in the request parameters will be updated. The other fields will remain unchanged.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 s | 1 request | 1 s | 5 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UsersAccessPutRequest
*/
func (a *SellerUserManagementAPIService) ApiV1UsersAccessPut(ctx context.Context) ApiApiV1UsersAccessPutRequest {
	return ApiApiV1UsersAccessPutRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SellerUserManagementAPIService) ApiV1UsersAccessPutExecute(r ApiApiV1UsersAccessPutRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerUserManagementAPIService.ApiV1UsersAccessPut")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/users/access"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.updateUserAccessRequest == nil {
		return nil, reportError("updateUserAccessRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.updateUserAccessRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiApiV1UsersGetRequest struct {
	ctx context.Context
	ApiService *SellerUserManagementAPIService
	limit *int64
	offset *int64
	isInviteOnly *bool
}

// The number of active or invited users in the response
func (r ApiApiV1UsersGetRequest) Limit(limit int64) ApiApiV1UsersGetRequest {
	r.limit = &limit
	return r
}

// How many results to skip. For example, for the value 10, the response will start with the 11 element 
func (r ApiApiV1UsersGetRequest) Offset(offset int64) ApiApiV1UsersGetRequest {
	r.offset = &offset
	return r
}

// - &#x60;true&#x60; — the list of invited users who have not yet activated access - &#x60;false&#x60; or not provided — the list of active users of the seller account 
func (r ApiApiV1UsersGetRequest) IsInviteOnly(isInviteOnly bool) ApiApiV1UsersGetRequest {
	r.isInviteOnly = &isInviteOnly
	return r
}

func (r ApiApiV1UsersGetRequest) Execute() (*GetUsersResponse, *http.Response, error) {
	return r.ApiService.ApiV1UsersGetExecute(r)
}

/*
ApiV1UsersGet Get a List of Seller Active or Invited Users

<div class="description_token">
Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method returns a list of seller account active or invited users.<br><br>

Specify the value of the `isInviteOnly` parameter to select the list:
  - `isInviteOnly=true` — invited users list who have not yet activated access
  - `isInviteOnly=false` or is not provided — active users list

For each user, you can get:
  - user's role
  - accessible sections
  - invitation status

The list of invited users in the response is always sorted by creation date: from newest to oldest.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 s | 1 request | 1 s | 5 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1UsersGetRequest
*/
func (a *SellerUserManagementAPIService) ApiV1UsersGet(ctx context.Context) ApiApiV1UsersGetRequest {
	return ApiApiV1UsersGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetUsersResponse
func (a *SellerUserManagementAPIService) ApiV1UsersGetExecute(r ApiApiV1UsersGetRequest) (*GetUsersResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetUsersResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerUserManagementAPIService.ApiV1UsersGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/users"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	} else {
		var defaultValue int64 = 100
		r.limit = &defaultValue
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	} else {
		var defaultValue int64 = 0
		r.offset = &defaultValue
	}
	if r.isInviteOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isInviteOnly", r.isInviteOnly, "form", "")
	} else {
		var defaultValue bool = false
		r.isInviteOnly = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
