/*
General

In this section:   - [WB API general information](/openapi/api-information#tag/Introduction)   - how to [get started with the WB API](/openapi/api-information#tag/Introduction/How-to-get-started-with-the-API)   - how to [log in](/openapi/api-information#tag/Authorization) and [create tokens](/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token)   - main [HTTP status codes](/openapi/api-information#tag/Introduction/HTTP-status-codes)   - [rate limits](/openapi/api-information#tag/Introduction/Rate-Limits)   - how to contact [support](/openapi/api-information#tag/Introduction/Support)  Use the methods in this section to:   - check the [WB API connection](/openapi/api-information#tag/WB-API-Connection-Check)   - get [seller portal news](/openapi/api-information#tag/News-API/paths/~1api~1communications~1v2~1news/get)   - get [seller information](/openapi/api-information#tag/Seller-Information)   - [manage seller users](/openapi/api-information#tag/Seller-User-Management) 

API version: general
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package wbgeneral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// NewsAPIAPIService NewsAPIAPI service
type NewsAPIAPIService service

type ApiApiCommunicationsV2NewsGetRequest struct {
	ctx context.Context
	ApiService *NewsAPIAPIService
	from *string
	fromID *int32
}

// Date from which to get news
func (r ApiApiCommunicationsV2NewsGetRequest) From(from string) ApiApiCommunicationsV2NewsGetRequest {
	r.from = &from
	return r
}

// The news ID, starting from which — including it — you need to get the list of news
func (r ApiApiCommunicationsV2NewsGetRequest) FromID(fromID int32) ApiApiCommunicationsV2NewsGetRequest {
	r.fromID = &fromID
	return r
}

func (r ApiApiCommunicationsV2NewsGetRequest) Execute() (*ApiCommunicationsV2NewsGet200Response, *http.Response, error) {
	return r.ApiService.ApiCommunicationsV2NewsGetExecute(r)
}

/*
ApiCommunicationsV2NewsGet Getting Seller Portal News

The method allows getting news from the seller portal.
<br> To receive a successful response, one of the parameters `from` or `fromID` must be specified.
<br> You can get up to 100 news items per request.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 1 request | 1 min | 10 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiCommunicationsV2NewsGetRequest
*/
func (a *NewsAPIAPIService) ApiCommunicationsV2NewsGet(ctx context.Context) ApiApiCommunicationsV2NewsGetRequest {
	return ApiApiCommunicationsV2NewsGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiCommunicationsV2NewsGet200Response
func (a *NewsAPIAPIService) ApiCommunicationsV2NewsGetExecute(r ApiApiCommunicationsV2NewsGetRequest) (*ApiCommunicationsV2NewsGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiCommunicationsV2NewsGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "NewsAPIAPIService.ApiCommunicationsV2NewsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/communications/v2/news"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.from != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "from", r.from, "form", "")
	}
	if r.fromID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fromID", r.fromID, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
