/*
General

In this section:   - [WB API general information](/openapi/api-information#tag/Introduction)   - how to [get started with the WB API](/openapi/api-information#tag/Introduction/How-to-get-started-with-the-API)   - how to [log in](/openapi/api-information#tag/Authorization) and [create tokens](/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token)   - main [HTTP status codes](/openapi/api-information#tag/Introduction/HTTP-status-codes)   - [rate limits](/openapi/api-information#tag/Introduction/Rate-Limits)   - how to contact [support](/openapi/api-information#tag/Introduction/Support)  Use the methods in this section to:   - check the [WB API connection](/openapi/api-information#tag/WB-API-Connection-Check)   - get [seller portal news](/openapi/api-information#tag/News-API/paths/~1api~1communications~1v2~1news/get)   - get [seller information](/openapi/api-information#tag/Seller-Information)   - [manage seller users](/openapi/api-information#tag/Seller-User-Management) 

API version: general
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package wbgeneral

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// SellerInformationAPIService SellerInformationAPI service
type SellerInformationAPIService service

type ApiApiV1SellerInfoGetRequest struct {
	ctx context.Context
	ApiService *SellerInformationAPIService
}

func (r ApiApiV1SellerInfoGetRequest) Execute() (*ApiV1SellerInfoGet200Response, *http.Response, error) {
	return r.ApiService.ApiV1SellerInfoGetExecute(r)
}

/*
ApiV1SellerInfoGet Get Seller Information

<div class="description_auth">
  You can get seller information with a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of any category.
</div>

This method allows you to obtain the seller's name and account ID.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 1 request | 1 min | 10 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApiV1SellerInfoGetRequest
*/
func (a *SellerInformationAPIService) ApiV1SellerInfoGet(ctx context.Context) ApiApiV1SellerInfoGetRequest {
	return ApiApiV1SellerInfoGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ApiV1SellerInfoGet200Response
func (a *SellerInformationAPIService) ApiV1SellerInfoGetExecute(r ApiApiV1SellerInfoGetRequest) (*ApiV1SellerInfoGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApiV1SellerInfoGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerInformationAPIService.ApiV1SellerInfoGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/seller-info"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v ApiV1SellerInfoGet402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommonV1RatingRequest struct {
	ctx context.Context
	ApiService *SellerInformationAPIService
}

func (r ApiGetCommonV1RatingRequest) Execute() (*SupplierRatingModel, *http.Response, error) {
	return r.ApiService.GetCommonV1RatingExecute(r)
}

/*
GetCommonV1Rating Get Seller Rating

<div class="description_auth">
  To access the method, use a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> for the <strong>Feedbacks and Questions</strong> category
</div>

<div class="description_token">
Method is available by<strong> Service</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method returns the seller user rating and feedbacks count.

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 1 request | 1 min | 1 request |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCommonV1RatingRequest
*/
func (a *SellerInformationAPIService) GetCommonV1Rating(ctx context.Context) ApiGetCommonV1RatingRequest {
	return ApiGetCommonV1RatingRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupplierRatingModel
func (a *SellerInformationAPIService) GetCommonV1RatingExecute(r ApiGetCommonV1RatingRequest) (*SupplierRatingModel, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplierRatingModel
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerInformationAPIService.GetCommonV1Rating")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/common/v1/rating"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetCommonV1SubscriptionsRequest struct {
	ctx context.Context
	ApiService *SellerInformationAPIService
}

func (r ApiGetCommonV1SubscriptionsRequest) Execute() (*SubscriptionsJamInfo, *http.Response, error) {
	return r.ApiService.GetCommonV1SubscriptionsExecute(r)
}

/*
GetCommonV1Subscriptions Get Jam Subscription Information

<div class="description_auth">
  You can get Jam subscription information with a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of any category.
</div>

<div class="description_token">
Method is available by<strong> Service</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
</div>

The method returns [Jam](https://seller.wildberries.ru/monetization/jam) subscription information:
  - If seller has never activated the Jam subscription, an empty `200` response is returned.
  - If seller activated the subscription and never canceled it, the following is returned:
    - subscription activation date `since`
    - end date of the current paid period `till`
  - If the subscription expired or was canceled but seller reactivated it, the following is returned:
    - date of the first subscription activation `since`
    - end date of the current paid period `till`
  - If the subscription is inactive, the following is returned:
    - date of the first subscription activation `since`
    - end date of the last paid period `till`

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 1 request | 1 min | 10 requests |
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetCommonV1SubscriptionsRequest
*/
func (a *SellerInformationAPIService) GetCommonV1Subscriptions(ctx context.Context) ApiGetCommonV1SubscriptionsRequest {
	return ApiGetCommonV1SubscriptionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SubscriptionsJamInfo
func (a *SellerInformationAPIService) GetCommonV1SubscriptionsExecute(r ApiGetCommonV1SubscriptionsRequest) (*SubscriptionsJamInfo, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SubscriptionsJamInfo
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SellerInformationAPIService.GetCommonV1Subscriptions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/common/v1/subscriptions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v PingGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
