openapi: 3.0.1
info:
  description: |
    Use the methods in this section to:
      - [create](/openapi/work-with-products#tag/Creating-Product-Cards) and [edit](/openapi/work-with-products#tag/Product-Cards) product cards
      - get [product categories, subjects, characteristics, and brands](/openapi/work-with-products#tag/Categories-Subjects-and-Characteristics)
      - upload [media files](/openapi/work-with-products#tag/Media-Files) for product cards
      - set up [tags](/openapi/work-with-products#tag/Tags) for product search
      - set [prices and discounts](/openapi/work-with-products#tag/Prices-and-Discounts)
      - manage [product inventory](/openapi/work-with-products#tag/Seller-Warehouses-Inventory) and [warehouses](/openapi/work-with-products#tag/Seller-Warehouses), if you work with the sales model from the seller's warehouse
  title: Product Management
  version: products
  x-file-name: products
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: "Categories, Subjects, and Characteristics"
- description: ""
  name: Creating Product Cards
- description: ""
  name: Product Cards
- description: ""
  name: Media Files
- description: ""
  name: Tags
- description: ""
  name: Prices and Discounts
- description: ""
  name: Seller Warehouses
- description: ""
  name: Seller Warehouses Inventory
paths:
  /content/v2/object/parent/all:
    get:
      description: |
        Returns the list of all products parent categories

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `name` field:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Products Parent Categories
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/object/all:
    get:
      description: |
        Returns the list of all available subjects, subjects parent categories and their IDs

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `name` field:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      - description: "Search by item name (Socks), the search works by substring and\
          \ can be conducted in any of the supported languages"
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: Socks
          type: string
        style: form
      - description: "Number of search results, maximum 1,000"
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 30
          example: 1000
          type: integer
        style: form
      - description: "How many results to skip. For example, with value `10`, the\
          \ response will start with the 11 element"
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          example: 5000
          type: integer
        style: form
      - description: Subject parent category ID
        explode: true
        in: query
        name: parentID
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - subjectID: 2560
                  parentID: 479
                  subjectName: 3D очки
                  parentName: Электроника
                - subjectID: 1152
                  parentID: 858
                  subjectName: 3D-принтеры
                  parentName: Оргтехника
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_object_all_get_200_response'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Subjects List
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/object/charcs/{subjectId}:
    get:
      description: |
        Returns list of the subject characteristics by its ID

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: Subject ID
        explode: false
        in: path
        name: subjectId
        required: true
        schema:
          example: 105
          type: integer
        style: simple
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_object_charcs__subjectId__get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Subject Characteristics
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/colors:
    get:
      description: |
        Provides values of color characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_colors_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Color
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/kinds:
    get:
      description: |
        Provides values of gender characteristic.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_kinds_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Gender
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/countries:
    get:
      description: |
        Provides value of characteristic country of origin.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_countries_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Country of Origin
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/seasons:
    get:
      description: |
        Provide values of season characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_content_v2_directory_seasons_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Season
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/vat:
    get:
      description: |
        Returns a list of values for the **VAT rate** characteristic

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: ru
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - "0"
                - "10"
                - "20"
                - Без НДС
                - "13"
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_vat_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: VAT Rate
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/directory/tnved:
    get:
      description: |
        The method provides list of HS-codes by category name and filter by HS-code.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: Subject ID
        explode: true
        in: query
        name: subjectID
        required: true
        schema:
          example: 105
          type: integer
        style: form
      - description: Search by HS-code. Works only with the subjectID parameter
        explode: true
        in: query
        name: search
        required: false
        schema:
          example: 6106903000
          type: integer
        style: form
      - description: |
          Language for response of the `subjectName` and `name` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - tnved: "6106903000"
                  isKiz: true
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/_content_v2_directory_tnved_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: HS-codes
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /api/content/v1/brands:
    get:
      description: |
        The method returns list of brands by subject ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      parameters:
      - description: Subject ID
        explode: true
        in: query
        name: subjectId
        required: true
        schema:
          example: 1234
          type: integer
        style: form
      - description: Pagination parameter. Use the `next` value from the response
          to get the next data batch
        explode: true
        in: query
        name: next
        required: false
        schema:
          example: 1234
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrandsResponse'
          description: Success
        "400":
          content:
            application/problem+json:
              examples:
                BrandsResponseBadRequest1:
                  $ref: '#/components/examples/BrandsResponseBadRequest1'
                BrandsResponseBadRequest2:
                  $ref: '#/components/examples/BrandsResponseBadRequest2'
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "404":
          content:
            application/problem+json:
              examples:
                BrandsResponseNotFound:
                  $ref: '#/components/examples/BrandsResponseNotFound'
              schema:
                $ref: '#/components/schemas/BrandsResponseError'
          description: Not found
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Brands
      tags:
      - "Categories, Subjects, and Characteristics"
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tags:
    get:
      description: |
        Returns seller's tags list

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - id: 1
                  color: D1CFD7
                  name: Sale
                error: false
                errorText: ""
                additionalErrors: ""
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_200_response'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Tags List
      tags:
      - Tags
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag:
    post:
      description: |
        Creates a tag.

        It is possible to create 15 tags.

        The maximum length of a tag is 15 characters

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
          description: Success
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
                responseBodyLimitTag:
                  $ref: '#/components/examples/responseBodyLimitTag'
                responseBodyNameNotExist:
                  $ref: '#/components/examples/responseBodyNameNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Create a Tag
      tags:
      - Tags
      x-readonly-method: false
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag/{id}:
    delete:
      description: |
        Deletes the tag

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: Numeric tag ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                responseNotFound200Del:
                  $ref: '#/components/examples/responseNotFound200Del'
              schema:
                $ref: '#/components/schemas/responseContentError'
          description: Success
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBodyTagNotExist:
                  $ref: '#/components/examples/responseBodyTagNotExist'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delete the Tag
      tags:
      - Tags
      x-readonly-method: false
      x-category: content
    patch:
      description: |
        Changes tag data: name and color

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: Numeric tag ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 1
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_tag__id__patch_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                responseNotFound200:
                  $ref: '#/components/examples/responseNotFound200'
              schema:
                $ref: '#/components/schemas/responseContentError'
          description: Success
        "400":
          content:
            application/json:
              examples:
                responseBodyContentError400:
                  $ref: '#/components/examples/responseBodyContentError400'
                responseBody400LenName:
                  $ref: '#/components/examples/responseBody400LenName'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Update the Tag
      tags:
      - Tags
      x-readonly-method: false
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/tag/nomenclature/link:
    post:
      description: |
        The method allows to add tags to the product card and remove tags from the product card.<br>
        When removing a tag from a product card, the tag itself is not removed.<br>
        It is possible to add 15 tags to a product card.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      requestBody:
        content:
          application/json:
            example:
              nmID: 179891389
              tagsIDs:
              - 123456
            schema:
              $ref: '#/components/schemas/_content_v2_tag_nomenclature_link_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseContentError'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestNm:
                  $ref: '#/components/examples/IncorrectRequestNm'
              schema:
                $ref: '#/components/schemas/responseContentError'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Tag Management in the Product Card
      tags:
      - Tags
      x-readonly-method: false
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/get/cards/list:
    post:
      description: |
        <div class="description_auth">
          The method is available with the <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of the <strong>Promotion</strong> category
        </div>

        Returns the list of created product cards.<br>

        <div class="description_important">
          Product cards from the trash are not provided in the method response. You can get these product cards via <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post">different method</a>
        </div>

        To get **more than 100** product cards, use pagination:
          1. Make the first request:
              <pre>
                {
                  "settings": {
                    "sort": {
                      "ascending": true
                    },
                    "cursor": {
                      "limit": 100
                    },
                    "filter": {
                      "withPhoto": -1
                    }
                  }
                }</pre>
             To get only new or updated product cards after data export, use ascending sorting: `"sort":{"ascending":true}`.
          2. Copy `"updatedAt": "***","nmID":"***"` from the `cursor` in the response and insert into the `cursor` of your next request.
          3. Make the next request.
          4. Repeat 2 and 3 until `total` value in the response is less than the `limit` value in the request. This will mean you got all cards.

        To get only product cards that were created or updated after the previous data export:
          1. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the previous data export. When exporting the data, use ascending sorting: `"sort":{"ascending":true}`.
          2. Specify the saved `"cursor":{"updatedAt":"***","nmID":"***"}` fields in the first request. Keep using ascending sorting.
          3. Save the `"cursor":{"updatedAt":"***","nmID":"***"}` fields from the last response of the current data export.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      parameters:
      - description: |
          Language for response of the `name`, `value` and `object` fields:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese

          Not used in the sandbox
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: ru
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              settings:
                sort:
                  ascending: false
                filter:
                  textSearch: "4603743187500888"
                  allowedCategoriesOnly: true
                  tagIDs:
                  - 345
                  - 415
                  objectIDs:
                  - 235
                  - 67
                  brands:
                  - уллу
                  - EkkE
                  imtID: 328632
                  withPhoto: -1
                cursor:
                  updatedAt: 2023-12-06T11:17:00.96577Z
                  nmID: 370870300
                  limit: 11
            schema:
              $ref: '#/components/schemas/_content_v2_get_cards_list_post_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                cards:
                - nmID: 12345678
                  imtID: 123654789
                  nmUUID: 01bda0b1-5c0b-736c-b2be-d0a6543e9be
                  subjectID: 7771
                  subjectName: AKF системы
                  vendorCode: wb7f6mumjr1
                  kizMarked: true
                  brand: Тест
                  title: Тест-система
                  description: Тестовое описание
                  needKiz: false
                  photos:
                  - big: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/big/1.webp
                    c246x328: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c246x328/1.webp
                    c516x688: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/c516x688/1.webp
                    square: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/square/1.webp
                    tm: https://basket-10.wbbasket.ru/vol1592/part159206/159206280/images/tm/1.webp
                  video: https://videonme-basket-12.wbbasket.ru/vol137/part22557/225577433/hls/1440p/index.m3u8
                  wholesale:
                    enabled: true
                    quantum: 112
                  dimensions:
                    length: 55
                    width: 40
                    height: 15
                    weightBrutto: 6.24
                    isValid: false
                  characteristics:
                  - id: 14177449
                    name: Цвет
                    value:
                    - красно-сиреневый
                  sizes:
                  - chrtID: 316399238
                    techSize: "0"
                    skus:
                    - "987456321654"
                  tags:
                  - id: 592569
                    name: Популярный
                    color: D1CFD7
                  createdAt: 2023-12-06T11:17:00.96577Z
                  updatedAt: 2023-12-06T11:17:00.96577Z
                cursor:
                  updatedAt: 2023-12-06T11:17:00.96577Z
                  nmID: 123654123
                  total: 1
              schema:
                $ref: '#/components/schemas/_content_v2_get_cards_list_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
            plain/text:
              example: Request body can not be decoded
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Product Cards List
      tags:
      - Product Cards
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/error/list:
    post:
      description: |
        Returns the list of product cards ([drafts](https://seller.wildberries.ru/new-goods/error-cards)) and the list of errors encountered during product card creation or editing.
        <br><br>
        The data is returned in batches. One batch contains:
          - all errors for one `variants` array in one request during product cards [creation](/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post)
          - all errors in one request during product cards [creation with merge](/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post) or [editing](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post).
        <br><br>
        To get more than 100 batches, use pagination:

          1. Make first request: <br>
              <pre style="background-color: rgb(38 50 56 / 5%); color: #e53935">
                {
                  "cursor": {
                    "limit": 100
                  },
                  "order": {
                    "ascending": true
                  }
                }</pre>
          2. Copy `"updatedAt":"***","batchUUID":"***"` from the response `cursor` and paste into the request `cursor`.
          3. Repeat the request.
          4. Repeat 2 and 3, until you receive in the response `"next":false`. This will mean that you have received all the batches.

        <div class="description_important">
          To delete product card from the errors list, repeat the request for creating or creating with merge and updating request with fixed errors
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      parameters:
      - description: |
          Language of subject names:
            - `ru` — Russian
            - `en` — English
            - `zh` — Chinese
        explode: true
        in: query
        name: locale
        required: false
        schema:
          example: en
          type: string
        style: form
      requestBody:
        content:
          application/json:
            example:
              cursor:
                limit: 31
                updatedAt: 2025-08-05T17:54:40+08:00
                batchUUID: bca3744c-1c8b-4588-b345-62af3b2899ae
              order:
                ascending: true
            schema:
              $ref: '#/components/schemas/requestPublicViewerPublicErrorsTableListV2'
        required: true
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                  items:
                  - batchUUID: b15fecaf-57fd-4b63-ab6f-18d630b8793e
                    subjects:
                      wb15j2kjk9:
                        id: 8827
                        name: Автомобили с пробегом
                      wb3g6advyh:
                        id: 8827
                        name: Автомобили с пробегом
                      wb3g7xx8g9:
                        id: 8827
                        name: Автомобили с пробегом
                      wb4uphjn61:
                        id: 8827
                        name: Автомобили с пробегом
                      wb64nayozt:
                        id: 8827
                        name: Автомобили с пробегом
                    brands: {}
                    vendorCodes:
                    - wb64nayozt
                    - wb15j2kjk9
                    - wb3g7xx8g9
                    - wb3g6advyh
                    - wb4uphjn61
                    errors:
                      wb15j2kjk9:
                      - "Поле Наименование не должно содержать запрещенные символы\
                        : 😈 😊 🤨"
                      wb3g6advyh:
                      - "Поле Наименование не должно содержать запрещенные символы\
                        : 😊 🤨 😈"
                      wb3g7xx8g9:
                      - "Поле Наименование не должно содержать запрещенные символы\
                        : 🤯"
                      wb4uphjn61:
                      - "Поле Наименование не должно содержать запрещенные символы\
                        : 😊 🤨 😈"
                      wb64nayozt:
                      - "Поле Наименование не должно содержать запрещенные символы\
                        : 😈 😊 🤨"
                    updatedAt: 2025-12-19T23:59:59Z
                  - batchUUID: 30aa42ec-fb49-45ec-86d5-ddf9911e7e3f
                    subjects:
                      test_pasha1:
                        id: 184
                        name: Рубашки
                    brands: {}
                    vendorCodes:
                    - test_pasha1
                    errors:
                      test_pasha1:
                      - Запрещено использовать E-Mail в поле Наименование
                      - Запрещено использовать E-Mail в поле Описание
                    updatedAt: 2025-12-20T23:59:59Z
                  cursor:
                    next: true
                    updatedAt: 2025-12-20T23:59:59Z
                    batchUUID: 1cd79751-de1f-46c8-a444-a941d35dde56
                error: false
                errorText: ""
                additionalErrors: null
              schema:
                $ref: '#/components/schemas/responsePublicViewerPublicErrorsTableListV2'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: List of Failed Product Cards with Errors
      tags:
      - Product Cards
      x-readonly-method: true
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/update:
    post:
      description: |
        Edits product cards. Also use it to add new sizes.

        <div class="description_important">
          The product card is overwritten when updated. So the request must also include those card parameters that you are not going to update. To get their values, use <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1list/post">Product Cards List</a> and <a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1get~1cards~1trash/post">Product Cards in Trash List</a>.
        </div>

        You cannot use this method to update or delete:
          - product size barcodes. You can only add additional barcodes
          - the `photos`, `video` and `tags` parameters
          - prices of goods. The price can only be set if you add new sizes

        When adding a new size, specify its price using the `price` parameter. If no `price` is specified in the request, the size price will be `0`. In this case, you can update it using the methods:
          - [Set Prices and Discounts](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task/post), if [product](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":false`
          - [Set Size Prices](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1upload~1task~1size/post), if [product](/openapi/work-with-products#tag/Prices-and-Discounts/paths/~1api~1v2~1list~1goods~1filter/get) has `"editablePriceSize":true`

        The dimensions of the products can only be specified in `centimeters`, and the weight of packed products must be specified in `kilograms`.
        <br><br>
        If this method response is Success (`200`) but product card was not updated, check errors using [list of failed product cards with errors](/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post).<br>
        With one request you can edit maximum 3000 product cards (`nmID`). Maximum request size is 10 Mb.<br>
        The process of synchronizing data with services may take up to 30 minutes. During this time, you can't add inventory to warehouses and set prices.


        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 10 requests | 6 s | 5 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              example:
              - nmID: 11111111
                vendorCode: wbiz72wmro
                kizMarked: true
                brand: ""
                title: Свитер женский оверсайз с горлом
                description: "12345"
                dimensions:
                  length: 35
                  width: 40
                  height: 15
                  weightBrutto: 3
                characteristics:
                - id: 14177450
                  value:
                  - хлопок 50% акрил 50%
                - id: 50
                  value:
                  - свободный крой
                sizes:
                - chrtID: 12345678
                  techSize: ONE SIZE
                  wbSize: 78-90
                  skus:
                  - "123487653460134"
              items:
                $ref: '#/components/schemas/_content_v2_cards_update_post_request_inner'
              type: array
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Success
        "400":
          content:
            application/json:
              examples:
                MissingRequiredCharacteristics:
                  $ref: '#/components/examples/MissingRequiredCharacteristics'
                NonUniqueCharacteristicsInOneGroupAdd:
                  $ref: '#/components/examples/NonUniqueCharacteristicsInOneGroupAdd'
              schema:
                $ref: '#/components/schemas/responseBodyContentError400'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseBodyContentError403'
          description: Access denied
        "413":
          content:
            application/json:
              example:
                title: request body too long
                detail: "https://openapi.{{ .baseDomain }}/content/api/ru/"
                code: 71d3de1b-001e-488f-bbf5-55c31254fbeb
                requestId: MN8usr6RfrzWHZfucSvNgb
                origin: s2s-api-auth-content
                status: 413
                statusText: Request Entity Too Large
              schema:
                $ref: '#/components/schemas/_content_v2_cards_update_post_413_response'
          description: The request body size exceeds the given limit
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      summary: Update Product Cards
      tags:
      - Product Cards
      x-readonly-method: false
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/moveNm:
    post:
      description: |
        The method merges and separates product cards. Product cards are merged if they have the same `imtID`.<br><br>

        To merge product cards, make a request **specifying** the `imtID`. You can merge up to 30 product cards at a time.<br>

        To separate product cards, make a request **without specifying** the `imtID`. New `imtID`s will be generated for the separated cards.<br><br>

        If you separate multiple product cards simultaneously, these cards will merge into one and receive a new `imtID`.<br>

        To assign a unique `imtID` to each product card, you need to send one product card per request.<br><br>

        The maximum request size is 10 MB.

        <div class="description_important">
          It is possible to merge product cards containing only the same subjects
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 5 requests |

        Exceptions are the methods:
        <ul>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
            <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
        </ul>
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_content_v2_cards_moveNm_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                data: null
                error: false
                errorText: ""
                additionalErrors: {}
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Success
        "400":
          content:
            application/json:
              examples:
                responseExceededLimit:
                  $ref: '#/components/examples/responseExceededLimit'
                responseCombining:
                  $ref: '#/components/examples/responseCombining'
                responseIncorrectRequestFormat:
                  $ref: '#/components/examples/responseIncorrectRequestFormat'
                responseNonExistentNmId:
                  $ref: '#/components/examples/responseNonExistentNmId'
                responseNonExistentImt:
                  $ref: '#/components/examples/responseNonExistentImt'
                responseCardCreate1:
                  $ref: '#/components/examples/responseCardCreate1'
                responseDuplicateRequests:
                  $ref: '#/components/examples/responseDuplicateRequests'
                responseAllCardsInSameGroup:
                  $ref: '#/components/examples/responseAllCardsInSameGroup'
                responseIncorrectBeginDate:
                  $ref: '#/components/examples/responseIncorrectBeginDate'
                responseIncorrectEndDate:
                  $ref: '#/components/examples/responseIncorrectEndDate'
              schema:
                $ref: '#/components/schemas/_content_v2_cards_moveNm_post_400_response'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_content_v2_tags_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/responseCardCreate'
          description: Access denied
        "413":
          content:
            application/json:
              examples:
                BodySizeExceedsTheGivenLimit:
                  $ref: '#/components/examples/BodySizeExceedsTheGivenLimit'
              schema:
                type: string
          description: The request body size exceeds the given limit
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_content_v2_object_parent_all_get_401_response'
          description: Too many requests
      summary: Merging or Separating of Product Cards
      tags:
      - Product Cards
      x-readonly-method: false
      x-category: content
    servers:
    - url: https://content-api.wildberries.ru
  /content/v2/cards/delete/trash:
    post:
      description: |
        Transfers the product card to the trash. In doing so, the product card would not be deleted.

        <div class="description_important">
[...]
