/*
Product Management

Use the methods in this section to:   - [create](/openapi/work-with-products#tag/Creating-Product-Cards) and [edit](/openapi/work-with-products#tag/Product-Cards) product cards   - get [product categories, subjects, characteristics, and brands](/openapi/work-with-products#tag/Categories-Subjects-and-Characteristics)   - upload [media files](/openapi/work-with-products#tag/Media-Files) for product cards   - set up [tags](/openapi/work-with-products#tag/Tags) for product search   - set [prices and discounts](/openapi/work-with-products#tag/Prices-and-Discounts)   - manage [product inventory](/openapi/work-with-products#tag/Seller-Warehouses-Inventory) and [warehouses](/openapi/work-with-products#tag/Seller-Warehouses), if you work with the sales model from the seller's warehouse 

API version: products
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package wbproducts

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"os"
)


// MediaFilesAPIService MediaFilesAPI service
type MediaFilesAPIService service

type ApiContentV3MediaFilePostRequest struct {
	ctx context.Context
	ApiService *MediaFilesAPIService
	xNmId *string
	xPhotoNumber *int32
	uploadfile *os.File
}

// Wildberries article
func (r ApiContentV3MediaFilePostRequest) XNmId(xNmId string) ApiContentV3MediaFilePostRequest {
	r.xNmId = &xNmId
	return r
}

// Number of media file, starting from &#x60;1&#x60;. To add the video set &#x60;1&#x60;.  To add the image to the uploaded ones, set file the number more then number of uploaded files. 
func (r ApiContentV3MediaFilePostRequest) XPhotoNumber(xPhotoNumber int32) ApiContentV3MediaFilePostRequest {
	r.xPhotoNumber = &xPhotoNumber
	return r
}

func (r ApiContentV3MediaFilePostRequest) Uploadfile(uploadfile *os.File) ApiContentV3MediaFilePostRequest {
	r.uploadfile = uploadfile
	return r
}

func (r ApiContentV3MediaFilePostRequest) Execute() (*ContentV3MediaFilePost200Response, *http.Response, error) {
	return r.ApiService.ContentV3MediaFilePostExecute(r)
}

/*
ContentV3MediaFilePost Upload Media File

Uploads and adds one media file for the product card.

Requirements for images:

  * maximum images for each product card  — 30,
  * minimal resolution – 700 × 900 pixels,
  * maximum size — 32 МB,
  * minimal quality — 65%,
  * formats — JPG, PNG, BMP, GIF (static), WebP.

Requirements for video:

  * maximum one video for each product card
  * maximum size — 50 MB
  * formats — MOV, MP4

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 100 requests | 600 ms | 5 requests |

Exceptions are the methods:
<ul>
    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
</ul>
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentV3MediaFilePostRequest
*/
func (a *MediaFilesAPIService) ContentV3MediaFilePost(ctx context.Context) ApiContentV3MediaFilePostRequest {
	return ApiContentV3MediaFilePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContentV3MediaFilePost200Response
func (a *MediaFilesAPIService) ContentV3MediaFilePostExecute(r ApiContentV3MediaFilePostRequest) (*ContentV3MediaFilePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContentV3MediaFilePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaFilesAPIService.ContentV3MediaFilePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/content/v3/media/file"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.xNmId == nil {
		return localVarReturnValue, nil, reportError("xNmId is required and must be specified")
	}
	if r.xPhotoNumber == nil {
		return localVarReturnValue, nil, reportError("xPhotoNumber is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "plain/text", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Nm-Id", r.xNmId, "simple", "")
	parameterAddToHeaderOrQuery(localVarHeaderParams, "X-Photo-Number", r.xPhotoNumber, "simple", "")
	var uploadfileLocalVarFormFileName string
	var uploadfileLocalVarFileName     string
	var uploadfileLocalVarFileBytes    []byte

	uploadfileLocalVarFormFileName = "uploadfile"
	uploadfileLocalVarFile := r.uploadfile

	if uploadfileLocalVarFile != nil {
		fbs, _ := io.ReadAll(uploadfileLocalVarFile)

		uploadfileLocalVarFileBytes = fbs
		uploadfileLocalVarFileName = uploadfileLocalVarFile.Name()
		uploadfileLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: uploadfileLocalVarFileBytes, fileName: uploadfileLocalVarFileName, formFileName: uploadfileLocalVarFormFileName})
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ContentV2ObjectParentAllGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v ContentV2TagsGet402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ContentV2ObjectParentAllGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiContentV3MediaSavePostRequest struct {
	ctx context.Context
	ApiService *MediaFilesAPIService
	contentV3MediaSavePostRequest *ContentV3MediaSavePostRequest
}

func (r ApiContentV3MediaSavePostRequest) ContentV3MediaSavePostRequest(contentV3MediaSavePostRequest ContentV3MediaSavePostRequest) ApiContentV3MediaSavePostRequest {
	r.contentV3MediaSavePostRequest = &contentV3MediaSavePostRequest
	return r
}

func (r ApiContentV3MediaSavePostRequest) Execute() (*ContentV3MediaFilePost200Response, *http.Response, error) {
	return r.ApiService.ContentV3MediaSavePostExecute(r)
}

/*
ContentV3MediaSavePost Upload Media Files via Links

The method uploads a set of media files to a product card by specifying links in the request.

<div class="description_important">
  New media files (<code>data</code>) replace old ones (<code>mediaFiles</code>). To add new files, set links both to new and old files.
</div>

Requirements for links:
  * the link must directly lead to the file. Ensure the link does not lead to a preview or authorization page. If the link leads to TXT or HTML page, it is considered incorrect
  * no authorization is required to access the file via the link

Requirements for images:
  * maximum images for each product card — 30
  * minimal resolution – 700 × 900 pixels
  * maximum size — 32 MB
  * minimal quality — 65%
  * formats — JPG, PNG, BMP, GIF (static), WebP


Requirements for video:
  * maximum one video for each product card
  * maximum size — 50 MB
  * formats — MOV, MP4


If one or several images or a video do not meet the requirements, no images and a video will be uploaded even if you have the success response (`200`)

<div class="description_limit">
<a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods in the <strong>Content</strong> category:

| Period | Limit | Interval | Burst |
| --- | --- | --- | --- |
| 1 min | 100 requests | 600 ms | 5 requests |

Exceptions are the methods:
<ul>
    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload/post">creating product cards</a></li>
    <li><a href="/openapi/work-with-products#tag/Creating-Product-Cards/paths/~1content~1v2~1cards~1upload~1add/post">creating product cards with merge</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1update/post">editing product cards</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1error~1list/post">getting failed product cards with errors</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1delete~1trash/post">transfering product card to trash</a></li>
    <li><a href="/openapi/work-with-products#tag/Product-Cards/paths/~1content~1v2~1cards~1recover/post">recovering product card from trash</a></li>
</ul>
</div>


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiContentV3MediaSavePostRequest
*/
func (a *MediaFilesAPIService) ContentV3MediaSavePost(ctx context.Context) ApiContentV3MediaSavePostRequest {
	return ApiContentV3MediaSavePostRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ContentV3MediaFilePost200Response
func (a *MediaFilesAPIService) ContentV3MediaSavePostExecute(r ApiContentV3MediaSavePostRequest) (*ContentV3MediaFilePost200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ContentV3MediaFilePost200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MediaFilesAPIService.ContentV3MediaSavePost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/content/v3/media/save"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.contentV3MediaSavePostRequest == nil {
		return localVarReturnValue, nil, reportError("contentV3MediaSavePostRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json", "application/problem+json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.contentV3MediaSavePostRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["HeaderApiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["Authorization"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v ContentV2ObjectParentAllGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 402 {
			var v ContentV2TagsGet402Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 422 {
			var v MediaErrors
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v ContentV2ObjectParentAllGet401Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
