openapi: 3.0.1
info:
  description: |
    <div class="description_important">
      <b>Methods for working with assembly orders of the DBW model (Delivery by Wildberries) are now in a <a href="https://dev.wildberries.ru/en/release-notes?id=312">separate environment</a>.
    </b>
    </div>

    Use the FBS Orders (Fulfillment by Seller) methods to:
      - get information about [assembly orders](/openapi/orders-fbs#tag/FBS-Assembly-Orders) and their statuses, cancel assembly orders, and get stickers
      - get, add, edit, and delete [metadata](/openapi/orders-fbs#tag/FBS-Metadata) for assembly orders
      - manage [supplies](/openapi/orders-fbs#tag/FBS-Supplies)
      - create, edit, and delete [passes](/openapi/orders-fbs#tag/FBS-Passes) to WB warehouses
  title: FBS Orders
  version: order
  x-file-name: orders-fbs
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: FBS Assembly Orders
- description: ""
  name: FBS Metadata
- description: ""
  name: FBS Supplies
- description: ""
  name: FBS Passes
paths:
  /api/v3/passes/offices:
    get:
      description: |
        Returns a list of offices that require a pass.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Offices list
                items:
                  $ref: '#/components/schemas/PassOffice'
                nullable: false
                type: array
          description: Success
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Offices for Pass
      tags:
      - FBS Passes
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/passes:
    get:
      description: |
        Returns a list of all seller's passes.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Passes list
                items:
                  $ref: '#/components/schemas/Pass'
                nullable: false
                type: array
          description: Success
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Passes
      tags:
      - FBS Passes
      x-readonly-method: true
      x-category: marketplace
    post:
      description: |
        Creates a supplier pass. <br> The pass is valid for 48 hours from the time of creation.
        <div class="description_limit">
          Maximum of 1 request per 10 <a href="/openapi/api-information#tag/Introduction/Rate-Limits">minutes</a> per one seller's account
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_passes_post_request'
        description: The total length of the full name is limited from 6 to 100 characters.
          The car number can contain only letters and numbers.
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_passes_post_201_response'
          description: Created
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Create Pass
      tags:
      - FBS Passes
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/passes/{passId}:
    delete:
      description: |
        Deletes the seller's pass

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Pass ID
        explode: false
        in: path
        name: passId
        required: true
        schema:
          example: 45
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Deleted
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delete the Pass
      tags:
      - FBS Passes
      x-readonly-method: false
      x-category: marketplace
    put:
      description: |
        Updates the seller's pass detail

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Pass ID
        explode: false
        in: path
        name: passId
        required: true
        schema:
          example: 45
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_passes_post_request'
        description: |
          The total length of the full name is limited from 6 to 100 characters. The car number can contain only letters and numbers.
        required: true
      responses:
        "204":
          description: Updated
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                WarehouseNameInvalid:
                  $ref: '#/components/examples/WarehouseNameInvalid'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Update Pass
      tags:
      - FBS Passes
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/new:
    get:
      description: |
        Returns a list of all new [assembly orders](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders/get).

        <div class="description_important">
        Metadata specified in the <code>requiredMeta</code> and <code>optionalMeta</code> fields in assembly orders only affects the ability to transfer a supply to delivery. If your product requires mandatory marking with identification means, you must specify all needed metadata whether it was received in <code>requiredMeta</code> or <code>optionalMeta</code> field (see 4.6 of the <a href ="https://seller.wildberries.ru/confirm-offer-condition/product/view">Offer</a>).
        <br>
        We recommend adding all metadata received in the <code>requiredMeta</code> and <code>optionalMeta</code> fields to the assembly orders
        </div>

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        </div>
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_orders_new_get_200_response'
          description: Success
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get New Assembly Orders
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders:
    get:
      description: |
        Returns assembly orders information without current status. <br>You can get data for a specified period, maximum of 30 calendar days per request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Pagination parameter. Sets the limit for the amount of data returned.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Pagination parameter. Sets the value from which to retrieve\
          \ the next batch. It should start at 0 to get the full list of data. For\
          \ the subsequent requests, you must take the value from the `next` field\
          \ in the response."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      - description: |
          Period start date in Unix timestamp format. By default date is 30 days before the request
        explode: true
        in: query
        name: dateFrom
        required: false
        schema:
          type: integer
        style: form
      - description: Period end date in Unix timestamp format
        explode: true
        in: query
        name: dateTo
        required: false
        schema:
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_orders_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Orders
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/status:
    post:
      description: |
        Returns the statuses of assembly orders from the request.

        `supplierStatus` is a status of an assembly order. Its change is always triggered only by the supplier.<br>

        Possible values of `supplierStatus`:

        | Status    | Description              | How to move the assembly orders to this status |
        |-----------|--------------------------|---------------------------------------------|
        | `new`       | **New order**        |                                             |
        | `confirm`   | **In assembly** <br>For delivery by Wildberries `fbs` | [Add assembly orders to the supply](/openapi/orders-fbs#tag/FBS-Supplies/paths/~1api~1marketplace~1v3~1supplies~1%7BsupplyId%7D~1orders/patch)
        | `complete`  | **In delivery** <br> For delivery by Wildberries `fbs` and by WB courier `wbgo` |  [Transfer the supply to delivery](/openapi/orders-fbs#tag/FBS-Supplies/paths/~1api~1v3~1supplies~1%7BsupplyId%7D~1deliver/patch) |
        | `cancel`   | **Canceled by seller** | [Cancel the order](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders~1%7BorderId%7D~1cancel/patch) |
        | `cancel_carrier`   | **Canceled by carrier** <br>For crossborder only | Changed by the carrier |

        `wbStatus` — is a status of an order on the Wildberries side.

        Possible values for this field are:
        - `waiting` — the supplier confirmed the order, and the Wildberries has not received it yet
        - `sorted` — the Wildberries warehouse sorted the order
        - `sold` — the order is sold
        - `canceled` — the supplier canceled the order
        - `canceled_by_client` — the buyer canceled the order upon receipt
        - `declined_by_client` — the buyer canceled the order in the first hour <br> Cancellation is available to the buyer in the first hour from the moment of order, if the order is not transferred to confirm status.
        - `defect` — cancellation of the order due to a defect
        - `ready_for_pickup` — the order came at pickup point and waiting for the client
        - `postponed_delivery` — courier delivery is postponed
        - `accepted_by_carrier` — accepted by carrier. The order is handed over to delivery service in the seller country
        - `sent_to_carrier` — dispatched to carrier. The order is on the way to delivery service's warehouse in the seller
        - `canceled_by_carrier` — the order was cancelled by the carrier. For crossborder only

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders_status_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_orders_status_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Orders Statuses
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/supplies/orders/reshipment:
    get:
      description: |
        Returns all assembly orders that require re-shipment

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                orders:
                - supplyID: WB-GI-1234567
                  orderID: 5632423
              schema:
                $ref: '#/components/schemas/_api_v3_supplies_orders_reshipment_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get All Assembly Orders for Re-shipment
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/cancel:
    patch:
      description: |
        Moves the assembly orders to `cancel` ("Canceled by the supplier") status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 100 requests | 600 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      responses:
        "204":
          description: Canceled
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "409":
          content:
            application/json:
              examples:
                StatusMismatch:
                  $ref: '#/components/examples/StatusMismatch'
                StatusChangeNotAllowed:
                  $ref: '#/components/examples/StatusChangeNotAllowed'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating a status
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Cancel the Assembly Order
      tags:
      - FBS Assembly Orders
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/stickers:
    post:
      description: |
        Returns a list of stickers according to the requested assembly orders.
        You can request a sticker in `svg`, `zplv` (vertical), `zplh` (horizontal) and `png` formats.

        **Method limitations**:
        - You cannot request more than 100 stickers at a time (no more than 100 assembly orders IDs in a request).
        - The method returns stickers only for assembly orders in the `confirm` — in assembly and `complete` — in delivery [statuses](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders~1status/post).
        - Available dimensions:
          - 580x400 px, with parameters `width` = 58, `height` = 40
          - 400x300 px, with parameters `width` = 40, `height` = 30

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Sticker format
        explode: true
        in: query
        name: type
        required: true
        schema:
          enum:
          - svg
          - zplv
          - zplh
          - png
          type: string
        style: form
      - description: Sticker width
        explode: true
        in: query
        name: width
        required: true
        schema:
          enum:
          - 58
          - 40
          type: integer
        style: form
      - description: Sticker height
        explode: true
        in: query
        name: height
        required: true
        schema:
          enum:
          - 40
          - 30
          type: integer
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders_stickers_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_orders_stickers_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Orders Stickers
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/orders/meta:
    post:
      description: |
        The method returns metadata for [assembly orders](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders/get) by the list of their IDs.
        <br><br>
        You can get the list of metadata available for an assembly order in the `requiredMeta` and `optionalMeta` fields in the response of the [Get New Assembly Orders](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders~1new/get) method.
        <br><br>
        Possible metadata:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [UIN](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [Data matrix code](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)
          - `expiration` — [Expiration date](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1expiration/put)
          - `customsDeclaration` — [customs declaration number](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1%7BorderId%7D~1meta~1customs-declaration/put)

          If any of the metadata objects are not returned in the response, it means that the assembly order cannot have such metadata, and they cannot be added

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v3.GetMetaMultiRequest'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v3.OrdersMetaAPI'
          description: Success
        "400":
          content:
            application/json:
              example:
                code: BadRequest
                message: Bad request
                data: {}
              schema:
                $ref: '#/components/schemas/v3.APIError'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                code: AccessDenied
                message: Access denied
                data: {}
              schema:
                $ref: '#/components/schemas/v3.APIError'
          description: Not found
        "404":
          content:
            application/json:
              example:
                code: NotFound
                message: Not found
                data: {}
              schema:
                $ref: '#/components/schemas/v3.APIError'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Assembly Orders Metadata
      tags:
      - FBS Metadata
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta:
    delete:
      description: |
        Removes all assembly order metadata values for the passed key.
        <br><br>
        Possible metadata are:
          - `imei` — [IMEI](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1imei/put)
          - `uin` — [UIN](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1uin/put)
          - `gtin` — [GTIN](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1gtin/put)
          - `sgtin` — [Data matrix code](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1v3~1orders~1%7BorderId%7D~1meta~1sgtin/put)
          - `customsDeclaration` — [customs declaration number](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1%7BorderId%7D~1meta~1customs-declaration/put)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>getting and deleting FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      - description: "Name of the metadata to remove (`imei`, `uin`, `gtin`, `sgtin`,\
          \ `customsDeclaration`)"
        explode: true
        in: query
        name: key
        required: false
        schema:
          type: string
        style: form
      responses:
        "204":
          description: Deleted
        "400":
          content:
            application/json:
              examples:
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error deleting metadata
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delete Assembly Order Metadata
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/sgtin:
    put:
      description: |
        The method allows attaching a Data Matrix code [Chestny ZNAK](https://chestnyznak.ru/en) to an assembly order.

        Attaching a Data Matrix code to an assembly order is only possible if this field is returned in the response of the method [to get the metadata of the order](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1meta/post), and the assembly order is in the confirm status.

        The loaded Data Matrix code can be retrieved through the method [to get the metadata of the order](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1meta/post)

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders__orderId__meta_sgtin_put_request'
      responses:
        "204":
          description: Sent
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error adding a Data Matrix code
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add Data Matrix Code to the Assembly Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/uin:
    put:
      description: |
        Sets the UIN for the assembly order. The assembly order can only have one UIN. You can add the code only for assembly orders in the `confirm` status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders__orderId__meta_uin_put_request'
      responses:
        "204":
          description: Updated
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating metadata
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add UIN (Unique Identification Number) to the Assembly Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/imei:
    put:
      description: |
        Sets the IMEI for the assembly order.
        <br><br>
        The assembly order can have only one IMEI. If a device has two IMEIs — **IMEI** and **IMEI2** or **IMEI1** and **IMEI2** — you should only specify **IMEI** or **IMEI1**. You don't need to specify **IMEI2**.<br><br>
        You can add the code only for assembly orders in the `confirm` status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders__orderId__meta_imei_put_request'
      responses:
        "204":
          description: Updated
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating metadata
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add IMEI to the Assembly Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/gtin:
    put:
      description: |
        Sets the GTIN (Belarus product unique identifier) for the assembly order. The assembly order can only have one GTIN. You can add the code only for assembly orders in the `confirm` status.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders__orderId__meta_gtin_put_request'
      responses:
        "204":
          description: Updated
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating metadata
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add GTIN to the Assembly Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/{orderId}/meta/expiration:
    put:
      description: |
        Sets the expiration date for the assembly order.
        <br>
        The expiration date can only be added for assembly orders that are delivered by WB and are in the `confirm` status.
        <br>
        <br>
        You can get the uploaded data in the [metadata of the assembly order](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1meta/post).
        <br>
        To change the expiration date, send a request with the new date.
        It is impossible to remove the expiration date from the metadata of the assembly order.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders__orderId__meta_expiration_put_request'
      responses:
        "204":
          description: Sent
        "400":
          content:
            application/json:
              examples:
                LowExpirationDate:
                  $ref: '#/components/examples/LowExpirationDate'
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating metadata
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add Expiration Date to the Assembly Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/marketplace/v3/orders/{orderId}/meta/customs-declaration:
    put:
      description: |
        The method updates the customs declaration number in the [metadata of the assembly order](/openapi/orders-fbs#tag/FBS-Metadata/paths/~1api~1marketplace~1v3~1orders~1meta/post).

        An assembly order can have only one customs declaration number.

        You can add the customs declaration number only for orders in the `confirm` or `complete` [status](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders~1status/post).

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for all methods for <strong>adding FBS metadata</strong>:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1000 requests | 60 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Assembly order ID
        explode: false
        in: path
        name: orderId
        required: true
        schema:
          example: 5632423
          format: int64
          type: integer
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_marketplace_v3_orders__orderId__meta_customs_declaration_put_request'
      responses:
        "204":
          description: Updated
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "409":
          content:
            application/json:
              examples:
                FailedToUpdateMeta:
                  $ref: '#/components/examples/FailedToUpdateMeta'
              schema:
                $ref: '#/components/schemas/Error'
          description: Error updating custom declaration number
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Add Custom Declaration number to the Order
      tags:
      - FBS Metadata
      x-readonly-method: false
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/stickers/cross-border:
    post:
      description: |
        Returns a list of stickers for cross-border assembly orders in PDF.<br><br>

        For each assembly order, the response contains the sticker generation status:
          - `awaitingTrackNumber` — the sticker is not ready. Waiting for a carrier's track number.
          - `ready` — the sticker is ready

        <div class="description_important">
          Stickers may be generated with a delay. Repeat the request until you receive the <code>ready</code> status.
        </div>

        Method limitations:
        - You cannot request more than 100 stickers at a time (no more than 100 assembly order IDs in a request).
        - The method returns stickers only for assembly orders that are on assembly or in delivery [status](/openapi/orders-fbs#tag/FBS-Assembly-Orders/paths/~1api~1v3~1orders~1status/post): `confirm`, `complete`.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders_stickers_cross_border_post_request'
      responses:
        "200":
          content:
            application/json:
              example:
                stickers:
                - orderId: 987654320
                  status: awaitingTrackNumber
                  parcelId: ""
                  file: ""
                  partA: ""
                  partB: ""
                  barcode: ""
                - orderId: 123456789
                  status: ready
                  parcelId: WB0000000001
                  file: JVBERi0xLjQKJSBjcmVhdGVkIGJ5IFBpbGxvdyBQREYgZHJpdmVyCjQgMCBvYmo8PAovVHlwZSAvQ2F0YWxvZwovUGFnZXMgNSAwIFIKPj5lbmRvYmoKNSAwIG9iajw8Ci9UeXBlIC9QYWdlcwovQ291bnQgMQovS2lkcyBbIDIgMCBSIF0KPj5lbmRvYmoKMSAwIG9iajw8Ci9UeXBlIC9YT2JqZWN0Ci9TdWJ0eXBlIC9JbWFnZQovV2lkdGggMjkwCi9IZWlnaHQgMjkwCi9GaWx0ZXIgWyAvQ0NJVFRGYXhEZWNvZGUgXQovRGVjb2RlUGFybXMgWyA8PAovSyAtMQovQmxhY2tJczEgdHJ1ZQovQ29sdW1ucyAyOTAKL1Jvd3MgMjkwCj4+IF0KL0JpdHNQZXJDb21wb25lbnQgMQovQ29sb3JTcGFjZSAvRGV2aWNlR3JheQovTGVuZ3RoIDY2Ngo+PnN0cmVhbQomoLYaX////////////8g2b4gpHITff///////////8nBSkIB8nBS/////////////////////+QgHkNB/IQD////////////////////////////+P//////////////////////////IQ5CHIQ////////////////////////////////jkNB/H/////////////////////4yEOQh+P//////////////////EhoKR//////yDYchDkIchDyBg2E4aCcFL////////////////////////IgFIiAhODQTg0f/////////////////+ThCICEQGgnDQTg0E4NBODZ////////////////////////4k4NESEOJCCP/////////////////8gpHIQ5CCCEEENB8hDyBg2f//////////////////////////xEZKQhOEJwhOB5f//////////////yDZviDQIjkDBS///////////////ycFLEnCCThP//////////////////kIB5CHkQEEnCEQEJwbP///////////////////////////4ycGgnBoIgFL/////////////////////+QhxIQ4kIcg0H////////////////////////8cSEOJCHEhAP//////////////////jIQDIQ+Qh5OE////////////////////////4iIiI/////////////wAQAQJAAABAwABAAAAIgEAAAEBAwABAAAAIgEAAAIBAwABAAAAAQAAAAMBAwABAAAABAAAAAYBAwABAAAAAQAAABEBBAABAAAACAAAABYBAwABAAAAIgEAABcBBAABAAAAKAIAABwBAwABAAAAAQAAAAAAAAAKZW5kc3RyZWFtCmVuZG9iagoyIDAgb2JqPDwKL1Jlc291cmNlcyA8PAovUHJvY1NldCBbIC9QREYgL0ltYWdlQiBdCi9YT2JqZWN0IDw8Ci9pbWFnZSAxIDAgUgo+Pgo+PgovTWVkaWFCb3ggWyAwIDAgMjkwLjAgMjkwLjAgXQovQ29udGVudHMgMyAwIFIKL1R5cGUgL1BhZ2UKL1BhcmVudCA1IDAgUgo+PmVuZG9iagozIDAgb2JqPDwKL0xlbmd0aCA0Nwo+PnN0cmVhbQpxIDI5MC4wMDAwMDAgMCAwIDI5MC4wMDAwMDAgMCAwIGNtIC9pbWFnZSBEbyBRCgplbmRzdHJlYW0KZW5kb2JqCjYgMCBvYmo8PAovQ3JlYXRpb25EYXRlIChEOjIwMjUxMTA3MTMzNTE1WikKL01vZERhdGUgKEQ6MjAyNTExMDcxMzM1MTVaKQo+PmVuZG9iagp4cmVmCjAgNwowMDAwMDAwMDAwIDY1NTM2IGYgCjAwMDAwMDAxNDQgMDAwMDAgbiAKMDAwMDAwMTA1MiAwMDAwMCBuIAowMDAwMDAxMjE0IDAwMDAwIG4gCjAwMDAwMDAwNDAgMDAwMDAgbiAKMDAwMDAwMDA4NyAwMDAwMCBuIAowMDAwMDAxMzA5IDAwMDAwIG4gCnRyYWlsZXIKPDwKL1Jvb3QgNCAwIFIKL1NpemUgNwovSW5mbyA2IDAgUgo+PgpzdGFydHhyZWYKMTM5MQolJUVPRg==
                  partA: "231648"
                  partB: "9753"
                  barcode: '!uKEtQZVx'
              schema:
                $ref: '#/components/schemas/_api_v3_orders_stickers_cross_border_post_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectRequestBody:
                  $ref: '#/components/examples/IncorrectRequestBody'
                IncorrectRequest:
                  $ref: '#/components/examples/IncorrectRequest'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Stickers for Cross-Border Assembly Orders
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/orders/status/history:
    post:
      description: |
        Returns status history for cross-border orders

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/_api_v3_orders_status_history_post_request'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_orders_status_history_post_200_response'
          description: Success
        "400":
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      servers:
      - url: https://marketplace-api.wildberries.ru
      summary: Status History for Cross-Border Orders
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
  /api/v3/orders/client:
    post:
      description: |
        The method allows getting information about the client by assembly order ID. <br>Only for cross-border orders from **Turkey**

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRequestAPI'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossborderTurkeyClientInfoResp'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v3_passes_get_402_response'
          description: Payment required
        "403":
          content:
            application/json:
              example:
                message: Access denied
              schema:
                $ref: '#/components/schemas/Error'
          description: Access denied
        "404":
          content:
            application/json:
              example:
                message: Not found
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_api_v3_passes_offices_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Orders with Client Information
      tags:
      - FBS Assembly Orders
      x-readonly-method: true
      x-category: marketplace
    servers:
    - url: https://marketplace-api.wildberries.ru
  /api/v3/supplies:
    get:
      description: |
        Returns the supply list.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account for <strong>FBS assembly orders, supplies and passes</strong> methods:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 300 requests | 200 ms | 20 requests |

        One request with a response code of <code>409</code> is counted as 10 requests
        </div>
      parameters:
      - description: Pagination parameter. Sets the limit for the amount of data returned.
        explode: true
        in: query
        name: limit
        required: true
        schema:
          maximum: 1000
          minimum: 1
          type: integer
        style: form
      - description: "Pagination parameter. Sets the value from which to retrieve\
          \ the next batch. It should start at 0 to get the full list of data. For\
          \ the subsequent requests, you must take the value from the `next` field\
          \ in the response."
        explode: true
        in: query
        name: next
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v3_supplies_get_200_response'
          description: Success
        "400":
          content:
            application/json:
              examples:
                IncorrectParameter:
                  $ref: '#/components/examples/IncorrectParameter'
              schema:
                $ref: '#/components/schemas/Error'
          description: Bad request
        "401":
          content:
            application/json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
[...]
