openapi: 3.0.1
info:
  description: |
    In this section:
      - [WB API general information](/openapi/api-information#tag/Introduction)
      - how to [get started with the WB API](/openapi/api-information#tag/Introduction/How-to-get-started-with-the-API)
      - how to [log in](/openapi/api-information#tag/Authorization) and [create tokens](/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token)
      - main [HTTP status codes](/openapi/api-information#tag/Introduction/HTTP-status-codes)
      - [rate limits](/openapi/api-information#tag/Introduction/Rate-Limits)
      - how to contact [support](/openapi/api-information#tag/Introduction/Support)

    Use the methods in this section to:
      - check the [WB API connection](/openapi/api-information#tag/WB-API-Connection-Check)
      - get [seller portal news](/openapi/api-information#tag/News-API/paths/~1api~1communications~1v2~1news/get)
      - get [seller information](/openapi/api-information#tag/Seller-Information)
      - [manage seller users](/openapi/api-information#tag/Seller-User-Management)
  title: General
  version: general
  x-file-name: general
servers:
- url: /
security:
- HeaderApiKey: []
tags:
- description: ""
  name: Introduction
- description: ""
  name: Authorization
- description: ""
  name: WB API Connection Check
- description: ""
  name: News API
- description: ""
  name: Seller Information
- description: ""
  name: Seller User Management
paths:
  /ping:
    get:
      description: |
        Checks:
          1. Whether the request successfully reaches the WB API.
          2. The validity of the authorization token and request URL.
          3. Whether the token category matches the service.

        <div class="description_important">
          This method is not intended to check the availability of WB services
        </div>

        Each service has its own version of the method depending on the domain:

        | Category | Request URL |
        |---------------|-----------------------|
        | Content | `https://content-api.wildberries.ru/ping`<br>`https://content-api-sandbox.wildberries.ru/ping` |
        | Analytics | `https://seller-analytics-api.wildberries.ru/ping` |
        | Prices and Discounts | `https://discounts-prices-api.wildberries.ru/ping`<br>`https://discounts-prices-api-sandbox.wildberries.ru/ping` |
        | Marketplace | `https://marketplace-api.wildberries.ru/ping` |
        | Statistics | `https://statistics-api.wildberries.ru/ping`<br>`https://statistics-api-sandbox.wildberries.ru/ping` |
        | Promotion | `https://advert-api.wildberries.ru/ping`<br>`https://advert-api-sandbox.wildberries.ru/ping` |
        | Feedbacks and Questions | `https://feedbacks-api.wildberries.ru/ping`<br>`https://feedbacks-api-sandbox.wildberries.ru/ping` |
        | Buyers Chat | `https://buyer-chat-api.wildberries.ru/ping` |
        | Supplies | `https://supplies-api.wildberries.ru/ping` |
        | Buyers Returns | `https://returns-api.wildberries.ru/ping` |
        | Documents | `https://documents-api.wildberries.ru/ping` |
        | Finance | `https://finance-api.wildberries.ru/ping` |
        | Tariffs, News, Get Seller Information | `https://common-api.wildberries.ru/ping` |
        | Seller User Management | `https://user-management-api.wildberries.ru/ping` |

        <div class="description_limit">
          A maximum of 3 requests every 30 <a href="/openapi/api-information#tag/Introduction/Rate-Limits">seconds</a>. If you try to use this method programmatically, the method will be temporarily blocked. The rate limit applies individually to each instance of the method on each host
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                TS: 2024-08-16T11:19:05+03:00
                Status: OK
              schema:
                $ref: '#/components/schemas/_ping_get_200_response'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Connection Check
      tags:
      - WB API Connection Check
      x-readonly-method: true
      x-category: all
    servers:
    - url: https://common-api.wildberries.ru
  /api/communications/v2/news:
    get:
      description: |
        The method allows getting news from the seller portal.
        <br> To receive a successful response, one of the parameters `from` or `fromID` must be specified.
        <br> You can get up to 100 news items per request.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      parameters:
      - description: Date from which to get news
        explode: true
        in: query
        name: from
        required: false
        schema:
          example: 2025-02-06
          format: date
          type: string
        style: form
      - description: "The news ID, starting from which — including it — you need to\
          \ get the list of news"
        example: 7369
        explode: true
        in: query
        name: fromID
        required: false
        schema:
          format: uint64
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              example:
                data:
                - content: |
                    Теперь в кампаниях ВБ.Медиа вы можете размещать баннеры для пользователей, которые взаимодействовали
                    с товарами из определённой категории: покупали, искали, добавляли в корзину и избранное. Также можно
                    выбрать период, за который хотите учитывать эти действия.Например, вы продаёте обувь. Рекламу можно
                    показать людям, которые добавляли в корзину или избранное товары из этой категории за последние 14
                    дней. Возможно, пользователи, которые попадают под этот критерий, уже совершили покупку. Поэтому вы
                    можете уточнить настройки показа: добавить параметр «Не покупал товар из категории „Обувь“ в последние
                    14 дней». Так вероятность того, что ваш баннер приведёт к покупке, будет выше.Чтобы запустить рекламу,
                    создайте в кабинете ВБ.Медиа кампанию «По показам» и на шаге 4 включите «Поведенческие параметры».
                    Эти параметры можно комбинировать с таргетированием по предполагаемым интересам, полу, возрасту и
                    региону.Подробнее о том, как настроить таргетинг, — в инструкции «По показам».Запустить рекламу на
                    Wildberries
                  date: 2025-02-05T14:10:35+03:00
                  header: |
                    Новые настройки кампаний в ВБ.Медиа: таргетируйте рекламу в зависимости от того, как аудитория
                    использует сервисы Wildberries
                  id: 7369
                  types:
                  - id: 4
                    name: Маркетинг
                - content: |
                    Добавили получение отчётов по текстам поисковых запросов в формате CSV. В описания методов «Создать
                    отчёт» и «Получить отчёт» добавили описания и примеры моделей: • запросов — SearchReportTextReq, •
                    успешных ответов (статус-код 200) — SearchReportTextRes.В ответ метода «Поисковые запросы по товару»
                    добавили 8 полей и структуры price и medianPosition. Узнать больше можно в Журнале изменений.Эти методы
                    доступны только с подпиской «Джем»
                  date: 2025-02-06T18:14:58+03:00
                  header: Изменения в API «Аналитики и данных»
                  id: 7373
                  types:
                  - id: 8
                    name: API
                  - id: 41
                    name: Аналитика продавца
              schema:
                $ref: '#/components/schemas/_api_communications_v2_news_get_200_response'
          description: Success
        "400":
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Getting Seller Portal News
      tags:
      - News API
      x-readonly-method: true
      x-category: commonapi
    servers:
    - url: https://common-api.wildberries.ru
  /api/v1/seller-info:
    get:
      description: |
        <div class="description_auth">
          You can get seller information with a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of any category.
        </div>

        This method allows you to obtain the seller's name and account ID.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      responses:
        "200":
          content:
            application/json:
              example:
                name: ИП Кружинин В. Р.
                sid: e8923014-e233-47q8-898e-3cc86d67ea61
                tin: "1234567890"
                tradeMark: Flax Store
              schema:
                $ref: '#/components/schemas/_api_v1_seller_info_get_200_response'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "402":
          content:
            application/problem+json:
              example:
                title: payment required
                detail: wb solution for business has insufficient funds on its balance.
                  please top up the balance in the company's personal account https://dev.wildberries.ru/company
              schema:
                $ref: '#/components/schemas/_api_v1_seller_info_get_402_response'
          description: Payment required
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Seller Information
      tags:
      - Seller Information
      x-readonly-method: true
      x-category: commonapi
    servers:
    - url: https://common-api.wildberries.ru
  /api/common/v1/rating:
    get:
      description: |
        <div class="description_auth">
          To access the method, use a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> for the <strong>Feedbacks and Questions</strong> category
        </div>

        <div class="description_token">
        Method is available by<strong> Service</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method returns the seller user rating and feedbacks count.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 1 request |
        </div>
      operationId: getCommonV1Rating
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SupplierRatingModel'
          description: Success
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Seller Rating
      tags:
      - Seller Information
      x-readonly-method: true
      x-category: questionsandfeedback
      x-token-types:
      - service
    servers:
    - url: https://feedbacks-api.wildberries.ru
  /api/common/v1/subscriptions:
    get:
      description: |
        <div class="description_auth">
          You can get Jam subscription information with a <a href="/openapi/api-information#tag/Authorization/How-to-create-a-personal-access-base-or-test-token">token</a> of any category.
        </div>

        <div class="description_token">
        Method is available by<strong> Service</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method returns [Jam](https://seller.wildberries.ru/monetization/jam) subscription information:
          - If seller has never activated the Jam subscription, an empty `200` response is returned.
          - If seller activated the subscription and never canceled it, the following is returned:
            - subscription activation date `since`
            - end date of the current paid period `till`
          - If the subscription expired or was canceled but seller reactivated it, the following is returned:
            - date of the first subscription activation `since`
            - end date of the current paid period `till`
          - If the subscription is inactive, the following is returned:
            - date of the first subscription activation `since`
            - end date of the last paid period `till`

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 min | 1 request | 1 min | 10 requests |
        </div>
      operationId: getCommonV1Subscriptions
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionsJamInfo'
          description: Успешно
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get Jam Subscription Information
      tags:
      - Seller Information
      x-readonly-method: true
      x-category: commonapi
      x-token-types:
      - service
    servers:
    - url: https://common-api.wildberries.ru
  /api/v1/invite:
    post:
      description: |
        <div class="description_token">
        Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method creates an invitation for a new user with access settings to the seller account sections.<br>
        How access rights are assigned:
        - If `access` is empty (`[]`) or not provided — by default, all access is granted, except for access to the showcase (`showcase`) and **Jam** (`changeJam`)
        - If `access` specifies some of the account sections, then in addition to the access rights specified in the request, all default access rights are also granted
        - If `access` lists all possible sections, access rights will be granted according to the request, without the default access rights
        - If the same section (`code`) is specified twice in `access`:
          - with different `disabled` values (`true` and `false`), access will not be granted
          - with identical values of `"disabled": true`, access will not be granted
          - with identical values of `"disabled": false`, access will be granted

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createInviteRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createInviteResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Create an Invitation for a New User
      tags:
      - Seller User Management
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/users:
    get:
      description: |
        <div class="description_token">
        Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method returns a list of seller account active or invited users.<br><br>

        Specify the value of the `isInviteOnly` parameter to select the list:
          - `isInviteOnly=true` — invited users list who have not yet activated access
          - `isInviteOnly=false` or is not provided — active users list

        For each user, you can get:
          - user's role
          - accessible sections
          - invitation status

        The list of invited users in the response is always sorted by creation date: from newest to oldest.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      parameters:
      - description: The number of active or invited users in the response
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 100
          format: int64
          maximum: 100
          type: integer
        style: form
      - description: |
          How many results to skip. For example, for the value 10, the response will start with the 11 element
        explode: true
        in: query
        name: offset
        required: false
        schema:
          default: 0
          format: int64
          type: integer
        style: form
      - description: |
          - `true` — the list of invited users who have not yet activated access
          - `false` or not provided — the list of active users of the seller account
        explode: true
        in: query
        name: isInviteOnly
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                invitesOnly:
                  description: List of invited users
                  summary: isInviteOnly=true
                  value:
                    total: 2
                    countInResponse: 2
                    users:
                    - id: 0
                      role: ""
                      position: Аналитик
                      phone: "79998888888"
                      email: ""
                      isOwner: false
                      firstName: ""
                      secondName: ""
                      patronymic: ""
                      goodsReturn: false
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79998888888"
                        position: Аналитик
                        inviteUuid: 00000000-0000-4000-8000-000000000001
                        expiredAt: 2025-12-01T00:00:00Z
                        isActive: true
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: wbPoint
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: feedbacksQuestions
                        disabled: false
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                    - id: 0
                      role: ""
                      position: ""
                      phone: 7999XXXX102
                      email: ""
                      isOwner: false
                      firstName: ""
                      secondName: ""
                      patronymic: ""
                      goodsReturn: false
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79996666666"
                        position: Аналитик
                        inviteUuid: 00000000-0000-4000-8000-000000000002
                        expiredAt: 2025-12-10T00:00:00Z
                        isActive: false
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: wbPoint
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: feedbacksQuestions
                        disabled: false
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                usersOnly:
                  description: List of active users
                  summary: isInviteOnly=false
                  value:
                    total: 2
                    countInResponse: 2
                    users:
                    - id: 1001
                      role: user
                      position: Аналитик
                      phone: "79999999999"
                      email: user1@example.com
                      isOwner: true
                      firstName: Иван
                      secondName: Иванов
                      patronymic: ""
                      goodsReturn: true
                      isInvitee: false
                      inviteeInfo: null
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: wbPoint
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: feedbacksQuestions
                        disabled: false
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
                    - id: 1002
                      role: user
                      position: Менеджер
                      phone: "79997777777"
                      email: user2@example.com
                      isOwner: false
                      firstName: Владимир
                      secondName: Смирнов
                      patronymic: ""
                      goodsReturn: true
                      isInvitee: true
                      inviteeInfo:
                        phoneNumber: "79997777777"
                        position: Менеджер
                        inviteUuid: 00000000-0000-4000-8000-000000000001
                        expiredAt: 2025-12-01T00:00:00Z
                        isActive: true
                      access:
                      - code: supply
                        disabled: true
                      - code: changeJam
                        disabled: true
                      - code: showcase
                        disabled: false
                      - code: suppliersDocuments
                        disabled: false
                      - code: discountPrice
                        disabled: true
                      - code: feedbacks
                        disabled: false
                      - code: questions
                        disabled: false
                      - code: wbPoint
                        disabled: false
                      - code: brands
                        disabled: true
                      - code: pointsForReviews
                        disabled: false
                      - code: pinFeedbacks
                        disabled: false
                      - code: finance
                        disabled: true
                      - code: feedbacksQuestions
                        disabled: false
                      - code: balance
                        disabled: false
                      - code: oldAnalyticsReports
                        disabled: false
                      - code: marketplace
                        disabled: false
              schema:
                $ref: '#/components/schemas/getUsersResponse'
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Get a List of Seller Active or Invited Users
      tags:
      - Seller User Management
      x-readonly-method: true
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/users/access:
    put:
      description: |
        <div class="description_token">
        Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method changes the access rights for one or more users.<br>
        <br>
        Only the data passed in the request parameters will be updated. The other fields will remain unchanged.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 5 requests |
        </div>
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateUserAccessRequest'
        required: true
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Update User's Access Permissions
      tags:
      - Seller User Management
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
  /api/v1/user:
    delete:
      description: |
        <div class="description_token">
        Method is available by<strong> Personal</strong> <a href="/openapi/api-information#tag/Authorization/Rules-for-using-API-access-tokens">token</a>
        </div>

        The method removes a user from [the seller user list](/openapi/api-information#tag/Seller-User-Management/paths/~1api~1v1~1users/get). This user will no longer have access to the seller account.

        <div class="description_limit">
        <a href="/openapi/api-information#tag/Introduction/Rate-Limits">Request limit</a> per one seller's account:

        | Period | Limit | Interval | Burst |
        | --- | --- | --- | --- |
        | 1 s | 1 request | 1 s | 10 requests |
        </div>
      parameters:
      - description: ID of the user whose access will be revoked
        explode: true
        in: query
        name: deletedUserID
        required: true
        schema:
          format: int64
          type: integer
        style: form
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errorResponse'
          description: Bad request
        "401":
          content:
            application/problem+json:
              example:
                title: unauthorized
                detail: "token problem; token is malformed: could not base64 decode\
                  \ signature: illegal base64 data at input byte 84"
                code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
                requestId: 7b80742415072fe8b6b7f7761f1d1211
                origin: s2s-api-auth-catalog
                status: 401
                statusText: Unauthorized
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Unauthorized
        "429":
          content:
            application/problem+json:
              example:
                title: too many requests
                detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
                code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
                requestId: 9d3c02cc698f8b041c661a7c28bed293
                origin: s2s-api-auth-catalog
                status: 429
                statusText: Too Many Requests
                timestamp: 2024-09-30T06:52:38Z
              schema:
                $ref: '#/components/schemas/_ping_get_401_response'
          description: Too many requests
      security:
      - HeaderApiKey: []
      summary: Delete User
      tags:
      - Seller User Management
      x-readonly-method: false
      x-category: usermanagement
      x-token-types:
      - personal
    servers:
    - url: https://user-management-api.wildberries.ru
components:
  responses:
    "401":
      content:
        application/problem+json:
          example:
            title: unauthorized
            detail: "token problem; token is malformed: could not base64 decode signature:\
              \ illegal base64 data at input byte 84"
            code: "07e4668e--a53a3d31f8b0-[UK-oWaVDUqNrKG]; 03bce=277; 84bd353bf-75"
            requestId: 7b80742415072fe8b6b7f7761f1d1211
            origin: s2s-api-auth-catalog
            status: 401
            statusText: Unauthorized
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: '#/components/schemas/_ping_get_401_response'
      description: Unauthorized
    "402":
      content:
        application/problem+json:
          example:
            title: payment required
            detail: wb solution for business has insufficient funds on its balance.
              please top up the balance in the company's personal account https://dev.wildberries.ru/company
          schema:
            $ref: '#/components/schemas/_api_v1_seller_info_get_402_response'
      description: Payment required
    "429":
      content:
        application/problem+json:
          example:
            title: too many requests
            detail: limited by c122a060-a7fb-4bb4-abb0-32fd4e18d489
            code: "07e4668e-ac2242c5c8c5-[UK-4dx7JUdskGZ]"
            requestId: 9d3c02cc698f8b041c661a7c28bed293
            origin: s2s-api-auth-catalog
            status: 429
            statusText: Too Many Requests
            timestamp: 2024-09-30T06:52:38Z
          schema:
            $ref: '#/components/schemas/_ping_get_401_response'
      description: Too many requests
  schemas:
    Access:
      description: Access settings for seller account sections
      example:
      - code: balance
        disabled: false
      - code: pointsForReviews
        disabled: false
      - code: brands
        disabled: true
      - code: finance
        disabled: true
      - code: supply
        disabled: true
      items:
        $ref: '#/components/schemas/Access_inner'
      type: array
    getUsersResponse:
      example:
        total: 0
        countInResponse: 6
        users:
        - role: user
          access:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          inviteeInfo:
            expiredAt: 2000-01-23T04:56:07.000+00:00
            phoneNumber: phoneNumber
            position: position
            isActive: true
            inviteUuid: inviteUuid
          firstName: firstName
          patronymic: patronymic
          phone: phone
          isOwner: true
          isInvitee: true
          id: 1
          position: position
          goodsReturn: true
          email: email
          secondName: secondName
        - role: user
          access:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          inviteeInfo:
            expiredAt: 2000-01-23T04:56:07.000+00:00
            phoneNumber: phoneNumber
            position: position
            isActive: true
            inviteUuid: inviteUuid
          firstName: firstName
          patronymic: patronymic
          phone: phone
          isOwner: true
          isInvitee: true
          id: 1
          position: position
          goodsReturn: true
          email: email
          secondName: secondName
      properties:
        total:
          description: The total number of active or invited users in the list
          type: integer
        countInResponse:
          description: The number of active or invited users on the current page
          type: integer
        users:
          description: User information
          items:
            $ref: '#/components/schemas/getUsersResponse_users_inner'
          type: array
      required:
      - countInResponse
      - total
      - users
      type: object
    createInviteRequest:
      example:
        access:
        - code: balance
          disabled: false
        - code: pointsForReviews
          disabled: false
        - code: brands
          disabled: true
        - code: finance
          disabled: true
        - code: supply
          disabled: true
        invite:
          phoneNumber: "79999999999"
          position: Менеджер
      properties:
        access:
          description: Access settings for seller account sections
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: '#/components/schemas/Access_inner'
          type: array
        invite:
          $ref: '#/components/schemas/createInviteRequest_invite'
      required:
      - invite
      type: object
    createInviteResponse:
      description: Invitation details
      example:
        inviteID: 741b8aa6-08ac-4782-8a9d-d931bcbbf608
        expiredAt: 2025-10-06T10:56:04.335060746Z
        isSuccess: true
        inviteUrl: https://seller.wildberries.ru/supplier-settings/supplier-card?inviteId=e5a813c7-65e0-4599-a550-a6b3d85661ed
      properties:
        inviteID:
          description: Invitation ID
          format: uuid
          type: string
        expiredAt:
          description: Date and time of expiration of the invitation
          format: date-time
          type: string
        isSuccess:
          description: |
            - `true` — the invitation was created successfully
            - `false` — retry the request
          type: boolean
        inviteUrl:
          description: The invitation URL that the user should follow
          format: uri
          type: string
      required:
      - expiredAt
      - inviteID
      - inviteUrl
      - isSuccess
      type: object
    updateUserAccessRequest:
      example:
        usersAccesses:
        - userId: 42334965
          access:
          - code: balance
            disabled: false
          - code: finance
            disabled: true
          - code: feedbacks
            disabled: false
        - userId: 52334965
          access:
          - code: balance
            disabled: true
          - code: changeJam
            disabled: false
          - code: showcase
            disabled: false
      properties:
        usersAccesses:
          description: Access settings for user
          items:
            $ref: '#/components/schemas/UserAccess'
          type: array
      required:
      - usersAccesses
      type: object
    UserAccess:
      properties:
        userId:
          description: User ID
          type: integer
        access:
          description: Access settings for seller account sections
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: '#/components/schemas/Access_inner'
          type: array
      type: object
    errorResponse:
      example:
        title: Bad Request
        status: 400
        detail: "bad request cause: user is not in current supplier"
        requestId: c479c04d0b576a9ba0b20fdf235004c2
        origin: public-acl
      properties:
        title:
          description: Error title
          type: string
        detail:
          description: Error details
          type: string
        requestId:
          description: Request ID
          type: string
        origin:
          description: Internal service name
          type: string
        status:
          description: HTTP status code
          type: number
      required:
      - detail
      - origin
      - requestId
      - status
      - title
      type: object
    SupplierRatingModel:
      example:
        valuation: 4.55
        feedbackCount: 12355
      properties:
        feedbackCount:
          description: Feedbacks number
          example: 12355
          type: integer
        valuation:
          description: Seller rating
          example: 4.55
          format: float
          type: number
      type: object
    SubscriptionsJamInfo:
      description: Jam subscription information
      example:
        till: 2026-04-25T14:44:28.393587Z
        activationSource: jam
        level: premium
        state: active
        since: 2026-03-16T08:38:08.056406Z
      properties:
        state:
          description: |
            Subscription state:
              - `active` — active
              - `inactive` — expired or canceled
          enum:
          - active
          - inactive
          example: active
          type: string
        activationSource:
          description: |
            Subscription activation source:
              - `constructor` — purchased via the **Plan Builder** section
              - `jam` — purchased via the **Jam Subscription** section
          enum:
          - constructor
          - jam
          example: jam
          type: string
        level:
          description: |
            Subscription level:
              - `standard`
              - `advanced`
              - `premium`
          enum:
          - standard
          - advanced
          - premium
          example: premium
          type: string
        since:
          description: The date and time when the subscription was first activated.
            Does not change upon renewal or reactivation
          example: 2026-03-16T08:38:08.056406Z
          format: date-time
          type: string
        till:
          description: Subscription end date and time
          example: 2026-04-25T14:44:28.393587Z
          format: date-time
          type: string
      required:
      - activationSource
      - level
      - since
      - state
      - till
      type: object
    _ping_get_200_response:
      example:
        Status: OK
        TS: TS
      properties:
        TS:
          description: Request timestamp
          type: string
        Status:
          description: Status
          enum:
          - OK
          type: string
      type: object
    _ping_get_401_response:
      properties:
        title:
          description: Error title
          type: string
        detail:
          description: Error details
          type: string
        code:
          description: Internal error code
          type: string
        requestId:
          description: Unique request ID
          type: string
        origin:
          description: WB internal service ID
          type: string
        status:
          description: HTTP status code
          type: number
        statusText:
          description: Text of the HTTP status code
          type: string
        timestamp:
          description: Request date and time
          format: date-time
          type: string
      type: object
    _api_communications_v2_news_get_200_response_data_inner_types_inner:
      example:
        name: name
        id: 6
      properties:
        id:
          description: Tag ID
          type: integer
        name:
          description: Tag name
          type: string
      type: object
    _api_communications_v2_news_get_200_response_data_inner:
      example:
        date: 2000-01-23T04:56:07.000+00:00
        types:
        - name: name
          id: 6
        - name: name
          id: 6
        header: header
        id: 0
        content: content
      properties:
        content:
          description: News text
          format: plaintext
          type: string
        date:
          description: News publication date and time
          format: date-time
          type: string
        header:
          description: News header
          type: string
        id:
          description: News ID
          type: integer
        types:
          description: News tags
          items:
            $ref: '#/components/schemas/_api_communications_v2_news_get_200_response_data_inner_types_inner'
          type: array
      type: object
    _api_communications_v2_news_get_200_response:
      example:
        data:
        - date: 2000-01-23T04:56:07.000+00:00
          types:
          - name: name
            id: 6
          - name: name
            id: 6
          header: header
          id: 0
          content: content
        - date: 2000-01-23T04:56:07.000+00:00
          types:
          - name: name
            id: 6
          - name: name
            id: 6
          header: header
          id: 0
          content: content
      properties:
        data:
          description: News data
          items:
            $ref: '#/components/schemas/_api_communications_v2_news_get_200_response_data_inner'
          type: array
      type: object
    _api_v1_seller_info_get_200_response:
      example:
        name: name
        tin: tin
        tradeMark: tradeMark
        sid: sid
      properties:
        name:
          description: Seller's name
          type: string
        sid:
          description: "Wildberries Seller [ID](./api-information#tag/Avtorizaciya/Kak-ustroen-token)"
          format: UUID
          type: string
        tin:
          description: Taxpayer identification number of the partner (INN in Russian)
          type: string
        tradeMark:
          description: Seller's trade name
          type: string
      type: object
    _api_v1_seller_info_get_402_response:
      properties:
        title:
          description: Error title
          type: string
        detail:
          description: "Error details. The error is only returned to services from\
            \ the [Solutions for business Catalog](https://dev.wildberries.ru/business-solutions)"
          type: string
      type: object
    Access_inner:
      properties:
        code:
          description: |
            The code for the seller account section the user will get access to:
            * `balance` — View balance and withdraw funds
            * `brands` — Brands management
            * `changeJam` — Access to **Jam** subscription: **A/B tests**, photo tags, video autostarts, product card comparisons
            * `discountPrice` — Change product prices, manage discounts and promotions
            * `finance` — Financial analytics. Balance statistics, financial reports, payment history
            * `showcase` — Showcase management
            * `suppliersDocuments` — View and download documents related to platform operations
            * `supply` — Create and manage FBW supplies
            * `feedbacksQuestions` — Viewing and answering customer questions and reviews, complaints about reviews
            * `questions` — View and respond to customer questions
            * `pinFeedbacks` — Ability to pin and unpin reviews
            * `pointsForReviews` — Points for reviews
            * `feedbacks` — View and respond to customer reviews
            * `wbPoint` — WB Point
            * `oldAnalyticsReports` — Reports
            * `marketplace` — Seller Warehouse
          enum:
          - balance
          - brands
          - changeJam
          - discountPrice
          - finance
          - showcase
          - suppliersDocuments
          - supply
          - feedbacksQuestions
          - questions
          - pinFeedbacks
          - pointsForReviews
          - feedbacks
          - wbPoint
          - oldAnalyticsReports
          - marketplace
          type: string
        disabled:
          description: |
            * `true` — access to the section is disabled
            * `false` — access to the section is enabled
          type: boolean
      required:
      - code
      - disabled
      type: object
    getUsersResponse_users_inner_inviteeInfo:
      description: "Invitation information, if the user is invited"
      example:
        expiredAt: 2000-01-23T04:56:07.000+00:00
        phoneNumber: phoneNumber
        position: position
        isActive: true
        inviteUuid: inviteUuid
      nullable: true
      properties:
        phoneNumber:
          description: Invited user's phone number
          type: string
        position:
          description: Invited user's position
          type: string
        inviteUuid:
          description: Invitation ID
          format: UUID
          type: string
        expiredAt:
          description: Invitation expiration date and time
          format: date-time
          type: string
        isActive:
          description: |
            - `true` — the invitation is active
            - `false` — the invitation is inactive
          type: boolean
      type: object
    getUsersResponse_users_inner:
      example:
        role: user
        access:
        - code: balance
          disabled: false
        - code: pointsForReviews
          disabled: false
        - code: brands
          disabled: true
        - code: finance
          disabled: true
        - code: supply
          disabled: true
        inviteeInfo:
          expiredAt: 2000-01-23T04:56:07.000+00:00
          phoneNumber: phoneNumber
          position: position
          isActive: true
          inviteUuid: inviteUuid
        firstName: firstName
        patronymic: patronymic
        phone: phone
        isOwner: true
        isInvitee: true
        id: 1
        position: position
        goodsReturn: true
        email: email
        secondName: secondName
      properties:
        id:
          description: User ID
          type: integer
        role:
          description: |
            User role:
            * `user` — user who have activated access
            * ` ` (empty string) — user who have not yet activated access
          enum:
          - user
          - ""
          type: string
        position:
          description: User's position
          type: string
        phone:
          description: User's phone number
          type: string
        email:
          description: User's email
          type: string
        isOwner:
          description: Is the user the seller account's owner
          type: boolean
        firstName:
          description: User's first name
          type: string
        secondName:
          description: User's last name
          type: string
        patronymic:
          description: User's patronymic
          type: string
        goodsReturn:
          description: Can user approve product returns
          type: boolean
        isInvitee:
          description: Is the user invited
          type: boolean
        inviteeInfo:
          $ref: '#/components/schemas/getUsersResponse_users_inner_inviteeInfo'
        access:
          description: Access settings for seller account sections
          example:
          - code: balance
            disabled: false
          - code: pointsForReviews
            disabled: false
          - code: brands
            disabled: true
          - code: finance
            disabled: true
          - code: supply
            disabled: true
          items:
            $ref: '#/components/schemas/Access_inner'
          type: array
      required:
      - access
      - email
      - firstName
      - goodsReturn
      - id
      - inviteeInfo
      - isInvitee
      - isOwner
      - patronymic
      - phone
      - position
      - role
      - secondName
      type: object
    createInviteRequest_invite:
      properties:
        phoneNumber:
          description: |
            User's phone number for the invitation.
            <details><summary><strong>Phone numbers from the following countries are supported:</strong></summary>• Armenia<br>• Azerbaijan<br>• Barbados<br>• Belarus<br>• Brazil<br>• China<br>• Czech Republic<br>• Georgia<br>• Hong Kong<br>• Italy<br>• Kazakhstan<br>• Kyrgyzstan<br>• Macau<br>• Russia<br>• Serbia<br>• Sweden<br>• Tajikistan<br>• Turkey<br>• UAE<br>• Uzbekistan</details>
          type: string
        position:
          description: User's position
          maxLength: 150
          type: string
      required:
      - phoneNumber
      type: object
  securitySchemes:
    HeaderApiKey:
      in: header
      name: Authorization
      type: apiKey
